[2016-07-28 18:52] kaishijeng opened #1 "availability of your MS thesis"
Hi,

  Is your thesis publicly available? If yes, can you show me a download link?

Thanks,

[2016-07-28 18:56] dgschwend commented on #1
Hi kaishijeng

Thanks for your interest. I'm currently finishing the written report, and I plan to upload it to Github towards the middle of August.
I'll add a corresponding note to the README, didn't think anyone would stumble upon the repository so soon... :)

Best regards,
David

[2016-07-28 22:47] kaishijeng commented on #1
David

   Thanks for an update

On Thu, Jul 28, 2016 at 11:56 AM, David Gschwend <notifications@github.com>
wrote:

[2016-08-23 15:38] kaishijeng commented on #1
Do we still plan to release the report in this month?

Thanks

On Thu, Jul 28, 2016 at 3:47 PM, kaishi Jeng <kaishi.jeng@gmail.com> wrote:

[2016-10-14 07:44] dgschwend commented on #1
Hi @kaishijeng. I finally got all the necessary permissions for publication. You can find the whole Master Thesis including all source code, generated files, as well as the Project Report in the repository.

[2016-10-14 07:44] #1 closed

[2016-10-16 01:50] kaishijeng commented on #1
David

  Thanks for letting me know your report is available.

FC

On Fri, Oct 14, 2016 at 12:44 AM, David Gschwend <notifications@github.com>
wrote:

[2016-12-07 03:34] guodapengzte opened #2 "TestBench Result: FAILURE (on FPGA)"
When I run the project ,I found the top5 result is change. Why? And I also find the timing is slack when the ipcore running 200Mhz, Slack is -3ns.

the first:
Result (top-5):
====================
    31.17%: class 238 (output  10.26)
    26.41%: class 264 (output  10.10)
    11.45%: class 156 (output   9.26)
     3.58%: class 232 (output   8.10)
     2.90%: class 218 (output   7.89)

TestBench Res

[2016-12-13 07:32] guodapengzte commented on #2
The problerm has solved.
first:  Before you download your fpga.bit ,you must set the cpu hp port to 32 bit and the fpga0_clk_ctrl0 register：
the method （reference as ug585）:
devmem2 w 0xf8008000 1
devmem2 w 0xf8008014 1
this is setting the HP PORT from 64bit to 32 bit
the same method to set the fpga0_clk

[2016-12-13 08:14] dgschwend commented on #2
Perfect, I'm glad you finally found the solution. It's important to set
these registers *before* programming the .bit file to the FPGA.

2016-12-13 8:32 GMT+01:00 guodapengzte <notifications@github.com>:

[2016-12-14 03:21] guodapengzte commented on #2
Hi David:I want to use difference pic to verify the result,and Iwant  directly to use yours train model:So, First,I think you must have a excel to list that class 1    chass 2 ...and so on to point dog or cat .For example:   I change your pic a dog with myself a dog , and affter runing I get a difference result ,but I do'nt known the result is right or wiong.
So, can you share your the excel .Best

[2016-12-14 07:04] dgschwend commented on #2
Hi! The mapping is defined in `synset_words.txt` from the ImageNet database for Caffe (see http://caffe.berkeleyvision.org/gathered/examples/imagenet.html). You can grab a copy by running Caffe's `./data/ilsvrc12/get_ilsvrc_aux.sh` or from here: https://github.com/happynear/caffe-windows/blob/master/examples/GoogLeNet/synset_words.txt
The line numbers (starting from 0) correspond to ZynqNet class

[2016-12-15 03:29] guodapengzte commented on #2
Thank you very much.
Next,I will train the network by myself picture,and then I will share the result.

[2016-12-20 18:48] dgschwend commented on #2
Attaching previous e-mail exchange with @guodapengzte:

When I run the project in the Fpga board ,I find some error(I compile the C++code under the _FIRMWARE with the Xilinx SDK).
The Fpga bit is yours:  zynqnet_200MHz.bit ( my own fpga.bit also has the same problem)

Result (top-5):
====================
     0.56%: class 711 (output   2.19)
     0.56%: class   9 (output   2.19)
     0.53%: class

[2016-12-22 08:21] guodapengzte commented on #2
Hi David :      Now ,I want to change the *SHARED_DRAM from PS_DDR to PL_DDR.Because the ps_ddr is always used by other function.     And,now I change the *SHARED_DRAM address to point to PL_DDR.And,I find a error log :     test_ddr.elf: ../src/xfpga.cpp:56: void XFPGA_setDRAMBase(): Assertion `SHARED_DRAM_64b - (u32)SHARED_DRAM_64b == 0' failed.          It means that the most high bit of SHARED_

[2016-12-23 13:29] dgschwend commented on #2
Hi guodapengzte
I haven't tried using PL_DDR. It seems that your physical address on the AXI bus is then >32 bits.
You should check that all variables and functions which hold/return memory addresses (e.g. SHARED_DRAM_BASE_ADDR, SHARED_DRAM_virtual(), SHARED_DRAM_physical()) can handle 64-bit integers.
Then, you need to find out how you can point the SHARED_DRAM memory port in the HLS code to a 64

[2017-01-09 14:27] radwrob opened #3 "Problem with loadbit command"
I have a problem with the instruction 'loadbit' from _RUN.sh script. How to use this command to program the FPGA?

[2017-01-10 06:38] dgschwend commented on #3
It's a proprietary tool on the SCS Zynq Box for programming a new bitstream onto the PL. As an alternative, the bitstream can be loaded via the First Stage Bootloader. If you generate your own Zynq Linux System with Xilinx SDK, this happens automatically.

[2017-02-28 14:27] divyapraneetha commented on #2
Hi David,

I am working on a similar project. Modifying the network according to the FPGA resources I have.  I would like to know the input image format being followed.

I have gone through changing image files to lmdb sets. but the code you have implemented takes .bin image.

I would like to know how did you define input formats.

Any help in this is highly appreciable.

Thanks
Divya

[2017-03-01 06:56] dgschwend opened #4 "Input Image format"
Submitted by @divyapraneetha:

Hi David,

I am working on a similar project. Modifying the network according to the FPGA resources I have. I would like to know the input image format being followed.

I have gone through changing image files to lmdb sets. but the code you have implemented takes .bin image.

I would like to know how did you define input formats.

Any help in this is highly appreciab

[2017-03-01 06:57] dgschwend commented on #4
Hi Divya
The input image is currently extracted from the Caffe model. Using "classify.py" from DIGITS/Caffe, the network is run forward and then the blob from layer "data" is dumped in binary format. See "classify.py" here https://www.dropbox.com/sh/i0h55cvhhoymc9s/AADDaBbM7YfOKHZCcK3RkqAXa?dl=0
There would surely be a more elegant way, if you investigate how Caffe stpres the image data internally

[2017-03-01 07:00] dgschwend commented on #2
Hi Divya, I opened another issue for your question, see https://github.com/dgschwend/zynqnet/issues/4
Regards
David

[2017-03-01 07:00] #2 closed

[2017-03-01 12:56] dgschwend commented on #4
PS: Here's some Python code which does the JPG->.bin conversion:
[code]

[2017-03-02 06:31] divyapraneetha commented on #4
Thanks for the source. Worked for different images to be resized to 256x256x3. Now I can work on different Images.

Divya

[2017-03-03 06:54] rejay015 opened #5 "_FIRMWARE problem"
Hi dgschwend:
I'm trying to port zynqnet on a ZC706 board.
I've successfully generated HLS IP using codes under _HLS_CODE, and creat a BD project and generate a ZC706 bit in vivado. Next I create a  SDK project and import sources from _FIRMWARE folder.
But when I add all the source files under _FIRMWARE folder into Xilinx SDK for embeded arm develop, I met lots of errors,  should source files such

[2017-03-04 08:38] dgschwend commented on #5
Hi rejay

Yes these files should also be included, as they allow running the "golden model" on the ARM CPU and thus allow checking the FPGA implementation. What errors do you get?

Regards
David

––
David Gschwend • +41 79 552 74 00 • Winkelriedstr. 56 • 6003 Luzern

[2017-03-07 12:30] rejay015 commented on #5
Thanks for answering so quick.

I compile the _FIRMWARE folder with the origin makefile on a PC, the errors disappear. But the "./test CPU indata" works well on PC, not on ARM(./test: cannot execute binary file: Exec format error).

Did you compile the makefile under Debian Linux running on zynq arm ?
Or maybe I made some mistake with compile environment settings.

[2017-03-07 15:13] dgschwend commented on #5
You cannot just copy the binary from PC to the ARM, it will not run (it's compiled for a different  CPU architecture). You have 2 choices:
1) cross-compile on your PC for ARM architecture
2) compile directly on Zynq (need to have gcc or clang installed)

I had a Linux system with a compiler running on the Zynqbox, so I used 2) for my thesis.
Actually, Xilinx SDK should allow you to cross-compile f

[2017-03-08 02:42] rejay015 commented on #5
Danke！
SCS-ZYNQ-BOX is great ! Zynqnet is great too!

[2017-03-16 07:45] #3 closed

[2017-03-18 15:22] divyapraneetha commented on #5
The _FIRMWARE part is compiled and tested on X86 Machine. I tried to run the same code using PS part of ZC702, for which the ZedBoard hang up at booting. I hope that there shouldnt be any problem to run the same _FIRMWARE code using PS part. Correct me if I am wrong.

[2017-03-20 15:53] divyapraneetha commented on #5
Hi David,

I am trying to run _FIRMWARE code on PS part of ZedBoard. When I compiled and ran _FIRMWARE only code on PC, the results are produced. But when ported the same code onto ZedBoard using SDSoC generated sd_card content, the ZedBoard booting was hung. I hope that there shouldnt be any problem to run the same _FIRMWARE code using PS part. Correct me if I am wrong.

Thanks
Divya

[2017-03-21 07:03] dgschwend commented on #5
The firmware code should run on almost any processor without causing hangs. It does not influence the booting process, should not even be run during system boot.
It's just a plain C program with some memory accesses. You probably have a different problem. What error messages do you get?

[2017-03-21 07:16] divyapraneetha commented on #5
Hi David,

Thanks for reply.

I overlooked this error while building. SDSoC compiling gave the following error for _FIRMWARE code.

src/ZynqNet_Accelerator_HW_DEF/ps7_init.c:7536:10: fatal error: 'xil_io.h' file not found
#include "xil_io.h"
         ^
ERROR: [SDSoC 0-0] clang exited with non-zero code processing

I am still figuring out on what could be issue. I have included vivado_include direc

[2017-03-22 07:14] dgschwend commented on #5
The path "src/ZynqNet_Accelerator_HW_DEF" does not seem to belong to the code in _FIRMWARE?

[2017-03-22 07:19] divyapraneetha commented on #5
Hi David,

All the required files in _FIRMWARE are placed in src folder of SDSoC. So the path is like that.

I found that xil_io.h is created after SDK run.

Thanks
Divya

[2017-03-22 10:18] #5 closed

[2017-03-22 15:26] divyapraneetha commented on #5
Hi David,

Below is the screenshot of HLS runs. Please ensure the files in TestBench and src are correctly placed. When I tried for C/RTL Cosimulation, I got error message attached below.

![screenshot from 2017-03-22 20 54 02](https://cloud.githubusercontent.com/assets/23473441/24205561/bad92364-0f41-11e7-8dbc-5f3dd832a721.png)

What could be wrong in the case. suggest me.

Thanks
Divya

[2017-03-22 17:30] dgschwend commented on #5
https://en.m.wikipedia.org/wiki/Segmentation_fault

[2017-04-02 05:44] maurimum opened #6 "Testbench with a stream image file in HLS"
Hello, currently I'm working in a project that focus in a based on zynqnet CNN accelerator, the tool that used is Vivado HLS, any advices for creating an IP that has a stream image for run a testbench that simulate the CPU tasks(reading an image and processing the last layer results) and calls the IP accelerator?  Thanks!

[2017-04-02 13:16] dgschwend commented on #6
Sorry, I don't really understand your question. With Vivado HLS, you write the testbench in C/C++, so you can actually run your CPU tasks directly and call your accelerator block from there. No need to write a separate testbench and "simulate the CPU tasks".
Regarding "stream images", do you refer to an AXI stream interface? I don't have much experience with that.

[2017-04-12 18:44] divyapraneetha commented on #5
Hi David,

I am working on co-simulation using Vivado HLS. I have chosen Verilog for co-simualtion. After the TestBench gave its result, critical warnings are being displayed and they are in a loop (I am running for 24 hours to see if it gets fixed looking after some suggestion in Community Forum)

Warning: OPMODE Input Warning : The OPMODE 0110X0X with CARRYINSEL  000 to DSP48E1 instance is inval

[2017-04-13 05:28] dgschwend commented on #5
The "problems" are mentioned in the project report. I assume you did read that carefully?
* COSIM 212-369 is a warning, not a problem, everything is safe with the memory depth.
* OPMODE Input Warning "The OPMODE 0110X0X with CARRYINSEL 000 to DSP48E1 instance is invalid." is related to a bug in Vivado HLS, as Xilinx confirmed by email (the OPMODE input to the DSP48 slice contains unknown inputs "X

[2017-05-08 12:17] amnamasood opened #7 "Minimum Requirements and Details of the board"
Hello!
We are trying to implement this project for some image recognition task. Can you please provide us the specific details of the boards that you used for this implementation and the minimum requirements of FPGA needed for this project?

[2017-05-08 19:40] dgschwend commented on #7
Have you read the project documentation? FPGA ressource requirements are on p. 63, the Zynqbox specs are on p. 31. What part of it did you not understand?

––
David Gschwend • +41 79 552 74 00 • Winkelriedstr. 56 • 6003 Luzern

[2017-05-08 19:58] amnamasood commented on #7
Yes I read that but I was not clear on them as I am new to FPGAs, and XC7Z045 is also quite expensive. Sorry for your inconvenience.

[2017-05-08 20:02] #7 closed

[2017-05-13 14:27] canhld94 opened #8 "Final caffemodel file"
Hi David,
Can I have final caffemodel of ZynqNet? Your thesis is amazing, but FPGA version of ZynqNet have not been verified completely. I've made some tests on ZynqNet (FPGA version, running on OZ745 Kit) and there're some interesting results. First, with 5000 image from ILSVRC2012 validation set, top 1 result is 54% and top-5 is 77%. Second, I config my FPGA clock at > 200MHz (it's easy, just co

[2017-05-15 10:28] UV-ETSE-GPDS opened #9 "Having some quesions about implementing the net for different task."
Hi David,
I'm curious if you continue your work on CNN. I am currently dealing with several issues regarding FPGA implementation of Squeezenet and maybe you can help with it.

[2017-05-18 06:16] #6 closed

[2017-05-18 06:39] dgschwend commented on #8
Hi canhld94
Thanks for your interest and the comments, and congratulations on getting the whole thing running.
You can find the final .caffemodel file here: https://github.com/dgschwend/zynqnet/blob/master/_TRAINED_MODEL/snapshot_iter_300280.caffemodel I'm fairly certain this is the model from which I derived the weights.bin.
Your observations are quite interesting. I never did any large-scale ver

[2017-05-18 06:45] dgschwend commented on #9
Hi UV-ETSE-GPDS,
I am still working on CNNs and with FPGAs in general, but currently not on this project. Sure, feel free to ask questions here, I'll see if I can help.

[2017-05-24 11:50] canhld94 commented on #8
Hi David,
I also did a test in python (caffe), and with all 50000 image from  ILSVRC2012 validation set, top 1 result is 58,27% and top-5 is 81,46%. And FPGA's result doesn't change, 54% and 77% at 153.33 MHZ. I think it's all I can do to verify your ZynqNet. It's sound bad, right 😄. It's must be some differences between our data set, or our method in verifying the network.
One more thing is Zynq

[2017-05-24 13:33] dgschwend commented on #8
Here's a screenshot from my training history in DIGITS:
![image](https://cloud.githubusercontent.com/assets/7229579/26404866/a92bba72-4093-11e7-89d9-e746f3c5c136.png)
Did you use the image transformations as shown in https://github.com/dgschwend/zynqnet/issues/4 ? If you don't crop-and-fill the images similar to the training, this may degrade accuracy.
Regarding the FPGA size: it depends. For imag

[2017-05-24 14:03] canhld94 commented on #8
I follow the instruction here http://nbviewer.jupyter.org/github/BVLC/caffe/blob/master/examples/00-classification.ipynb . I've also read your thesis, you cropped 256x256 pixel from a 300x300 image, but as I see in Imagnet validation set, the resolution of all image is 350x500 or approximately this value. So may be our dataset are not the same?

[2017-05-24 15:36] dgschwend commented on #8
No, our dataset is not going to be the same if you don't prepare the input images as indicated in the issue mentioned above. ;)

––
David Gschwend • +41 79 552 74 00 • Winkelriedstr. 56 • 6003 Luzern

[2017-05-24 16:14] SapnaBhardwaj1 commented on #4
Hi David,

According to the FPGA resources I have, I am downsizing neural network. I would like to know way of generating weights.bin file. I have gone through material available online to extract weights from .caffemodel. The extracted weights need to be considered as float? How to decide on float/int and how accuracy varies on this. And also can you share the reference to generate weights.bin. T

[2017-05-25 14:17] liwei1018 opened #10 "Having some quesions about files in _HLS_CODE and _FIRMWARE"
Hi David,
 I was using vivado HLS for the first time. I have some simple questions. cpu_top.cpp  file in _HLS_CODE folder is not testbench ? and are those files in _FIRMWARE folder Compiled with SDK? is it the application is run on the board without linux or not ? I am look forward to your help. thanks.

[2017-05-26 10:16] liwei1018 opened #11 "HLS malloc function question"
Hi David,

Below is the screenshot of HLS runs. Please ensure the files in TestBench and src are correctly placed. When I tried for C/RTL Cosimulation, I got error message attached below.
![image](https://cloud.githubusercontent.com/assets/28920062/26490788/b8b8353c-4247-11e7-84fa-ef79ba9d0409.png)

Thanks

[2017-05-26 11:51] dgschwend commented on #9
???

[2017-05-26 11:51] #9 closed

[2017-05-26 11:56] dgschwend commented on #10
Hi liwei1018
* cpu_top.cpp is the test bench, that's correct.
* the files in _FIRMWARE can be compiled with the Xilinx SDK or any other compiler for the ARM core.
* the application is run under Linux.
Regards, David

[2017-05-26 12:08] dgschwend commented on #11
Looks good to me... have you changed anything in the source code? Can you try with Vivado 2016.2 instead, which is the version I used? Maybe Xilinx changed something... Can you compile + run the C simulation alone?

[2017-05-26 14:30] dgschwend commented on #4
Can you please open a new issue as this is not related to the input image format?

[2017-05-29 08:31] Brillise opened #12 "How to get weights.bin"
Hi David,
Thank you so much for your ZyngNet and your thesis! I helps me a lot to learn CNN~^o^~
I'm interested in your framework. And I have realized your network on FPGA using weights you provided(weights.bin). Now I want to try some other networks e.g. VGG, so how can I convert the original .caffemodel file to the .bin file, which can be read by your code. I think you do something for transform

[2017-05-29 15:12] liwei1018 commented on #11
Hi David,
 thank you for your help
 I try to used Vivado 2016.2 to  run the C simulation . I still I have such a mistake.
![image](https://cloud.githubusercontent.com/assets/28920062/26554466/3360c56c-44cb-11e7-800f-5ac02a5e825e.png)
![image](https://cloud.githubusercontent.com/assets/28920062/26554582/d063f992-44cb-11e7-8a08-bf44085e49df.png)
this is alloc memory region. Is this err and alloc mem

[2017-05-29 22:56] canhld94 commented on #11
In line 199 file cpu_top.cpp, you'll see a memory allocation like this: `SHARED_DRAM = (char *)malloc(total_size);`. What you need to do is adding more memory, something like` SHARED_DRAM = (char *)malloc(total_size*2);` or bigger if you want. I'm not yet figured out where's the problem but you can use it as a temporary solution.

[2017-05-30 18:35] liwei1018 commented on #11
hi canhld94, dgschwend
 thank you for your help. I solve this err with your help. but i have a new err about vivado Diagram
![image](https://cloud.githubusercontent.com/assets/28920062/26598992/fc5389aa-45b1-11e7-80aa-4c32c6892846.png)
Can you tell me what 's the mistakes. how to solve it.
thanks

[2017-06-02 08:09] dgschwend commented on #11
It looks like Vivado could not find the floating-point IP... I don't understand why.
Did you use the same version for Vivado HLS and Vivado Design Suite?

[2017-06-02 08:18] liwei1018 commented on #11
thank you a lot
 I solved the problem with crate fpga_top IP use VHDL. floating-point IP is VHDL file so  Vivado could not find the floating-point IP . if crate fpga_top IP use Verilog.
thanks

[2017-06-02 08:36] dgschwend commented on #11
Great, glad you figured it out!

[2017-06-02 08:36] #11 closed

[2017-06-02 08:47] dgschwend commented on #12
Hi Brillise
You can convert Caffe networks (.prototxt + .caffemodel files) to ZynqNet-compatible networks (weights.bin, network.hpp/cpp) by using the scripts in [tools/convert_caffemodel](https://github.com/dgschwend/zynqnet/tree/master/tools/convert_caffemodel). See the readme file in the folder.
But beware that the conversion script is very simple and targeted at topologies similar to SqueezeNet

[2017-06-02 08:47] #10 closed

[2017-06-02 08:47] #8 closed

[2017-06-02 08:48] dgschwend commented on #4
for reference, conversions scripts are available under [tools/convert_caffemodel](https://github.com/dgschwend/zynqnet/blob/master/tools/convert_caffemodel)

[2017-06-02 08:49] #4 closed

[2017-06-02 12:39] Brillise commented on #12
Hi David,
Thanks for your reply!
Actually, I even haven't installed Caffe now. We try to do everything independent of Caffe. After reading running requirements of your scripts, it seems that I must install one 〒_〒

[2017-06-09 02:38] arashazizima commented on #12
Hi David,
If you remember, I already contacted you.
I tried to reuse your code in some parts of a project. However, I have the problem when I synthesize the code on the FPGA by Vivado HLS. The problem is related to the DSP utilization. I reuse the following code as the dot-product in my convolutional engine. However, the DSP utilization is much lower than the value I expected. Also, I receive this

[2017-06-09 07:30] dgschwend commented on #12
@arashazizima Could you please open a new issue? Your question has nothing to do with weight conversion...

[2017-06-09 07:34] dgschwend commented on #12
@Brillise Actually, it's possible to avoid Caffe. You can parse the .prototxt and .caffemodel files directly using Google Protobuf (https://github.com/google/protobuf) or your own custom parser. But it involves some extra effort, and you still have the dependency on Google Protobuf... but at least you no longer need the whole Caffe installation. ;)

[2017-06-09 17:17] arashazizima opened #13 "Underutilization of DSP resources"
Hi David,
I tried to reuse your code in some parts of a project. However, I have the problem when I synthesize the code on the FPGA by Vivado HLS. The problem is related to the DSP utilization. I reuse the following code as the dot-product in my convolutional engine. However, the DSP utilization is much lower than the value I expected. Also, I receive this warning message: "WARNING: [SYN 201-303]

[2017-06-09 21:36] dgschwend commented on #13
What type is data_t? Why do you sum up in[h] and w[h] vectors, I would expect multiplication for a dot-product?
You can only control the resource allocation using pragmas or influence the resource which is used by writing your code differently.

[2017-06-09 21:37] #12 closed, assigned to nobody

[2017-06-09 22:59] arashazizima commented on #13
I have "typedef float data_t" for the data_t.
it is a **vector**-dot-product. For vector-dot-product, after multiplication, the partial multiplications should be sum up.

[2017-06-09 23:23] dgschwend commented on #13
Alright, so regarding functionality, the function you're computing is `result = sum(w) + sum(in)`, where `in` and `w` are float vectors.
Regarding implementation, you partition "multresult" completely, so you get individual registers for all partial results (in0+w0, in1+w1, ...). You unroll the summation loops, so you get parallel computation units. Your block will have Tn*32 input wires for "in",

[2017-06-09 23:32] dgschwend commented on #13
If the pragma syntax for the array elements does not work, you could try it with
set_directive_resource -core AddSub_fullDSP vector_dot_product multresult[0]
or similar... see e.g. https://forums.xilinx.com/t5/High-Level-Synthesis-HLS/HLS-Efficiently-apply-RESOURCE-constraints-to-expressions/td-p/355287
In summary, the syntax for allocating resources is not very flexible and powerful. You might ne

[2017-06-12 05:08] arashazizima commented on #13
Thank you for your comments. First, "multresult[h]=in[h] +w[h];" should be changed to "multresult[h]=in[h] *w[h];" for vector-dot-product. Probably, I changed it for some testing and I forgot to correct it when I copied the code here. Your interpretation of the code is the functionality that exactly I am trying to implement. it is the functionality that I have in my mind and I want to implement th

[2017-07-21 05:58] thenamnguyen opened #14 "Latency and power consumption of each function"
Hi David,
I'm try to determine latency and power consumption of each function, such as: ImageCache::preloadPixelFromDRAM, WeightsCache::loadFromDRAM... when it run on FPGA. I try to synthesis these functions on Vivado HLS to determine latency, but the report show that latency is 0. I think it isn't correct. Do you have any idea for problem? thank you so much.

[2017-07-21 08:02] RoxanaMir opened #15 "Zynqnet problem"
Dear David
I created a new project in Vivado HLS and imported the “_HLS_CODE” files in the directory for source files. After synthesis, I met the following error:

Zip/zynqnet-master/_HLS_CODE/unittests.cpp:50:23: error: no member named 'setiosflags' in namespace 'std'
    std::cout << std::setiosflags(std::ios::fixed) << std::setprecision(2)
[code]

[2017-07-22 07:06] dgschwend commented on #14
Hi thenamnguyen

I think the latency, throughput and power for loads from DRAM cannot be estimated with Vidvado HLS. Vivado HLS only considers the memory port as a connection to some memory bus, but the memory bus itself is out of scope.
As a matter of fact, you can actually connect the finished IP to different memory ports in Vivado Block Designer (eg. via ACP and processor cache or directly to P

[2017-07-22 10:54] dgschwend commented on #15
Hi Roxana

You can simply remove the line from the source code, its only used to set the formatting for the debug output. That's not necessary and the tests should work anyway.

Regards
David

––
David Gschwend • +41 79 552 74 00 • Winkelriedstr. 56 • 6003 Luzern

[2017-07-23 11:06] RoxanaMir commented on #15
Dear David,
I will do it as you say.

Thank you.

[2017-07-24 07:29] thenamnguyen commented on #14
Thanks for your response. I have a question. I run Zynqnet on FPGA, and how do I know when a function starts and when it stops? Can I do anything on HLS code to know that?

[2017-07-24 09:10] dgschwend commented on #14
Hi

This is not possible by default. You could use Chipscope to look at signals in the running FPGA. Probably you would need to add some signals to the top-level block to show when the function of interest starts and stops. You could also route these signals to a physical pin of the FPGA, and use an oscilloscope to measure the timings.

Best regards
David

[2017-07-25 15:50] thenamnguyen commented on #14
Hi,
I suppose that I have a top function . Inside top function, it call A function, and I want to determine active time of A. I try to place checkpoint into top function, and checkpoint is output signal. Before start function  A, checkpoint = 1, and after stop function A, checkpoint = 0. when I synthesis, I realize that checkpoint is valid when top function return and value of checkpoint is 0. I w

[2017-08-02 05:20] RoxanaMir commented on #15
Hi David
I did as you say and the problem was over but now I met this error :
"Too many positional arguments specified"

I'm using Vivado 2015.4 , may be any problem with this version?
I will be thankful for your help.

Best regards,
Roxana

[2017-08-02 07:35] dgschwend commented on #15
Can you give the entire error message? I need to know where the problem occurs. This does not sound like an issue in the C code.
Trying a different version of Vivado might be a good idea as well.

[2017-08-02 08:28] RoxanaMir commented on #15
Thanks for your help, the full error was as below:

@E [HLS-101] 'add_files': Too many positional arguments specified.

FORMAT
  add_files [OPTIONS] <src_files>
     src_files <string>  (required)
    -cflags <string>
    -tb

command 'add_files' returned error code
    while executing
"add_files OK Zynqnet Master Complete/zynqnet-master/_HLS_CODE/vivado_include/ap_fixed.h"
    (file "C:/Users/Asu

[2017-08-02 08:50] dgschwend commented on #15
You need to save the files on a path without spaces (e.g. C:\zynqnet-master\ instead of "OK Zynqnet Master Complete/zynqnet-master").

The TB consists of: cpu_top.*, indata.bin, weights.bin, unittests.* (iirc.)

[2017-08-08 08:01] dgschwend commented on #14
I don't actually have experience with this, but you might want to take a look at sections "Interface Synthesis and Multi-Access Pointers" (p. 94) and "Specifying Manual Interface" (p. 104) and "Understanding Volatile Data" (p. 355) in the HLS Guide https://www.xilinx.com/support/documentation/sw_manuals/xilinx2017_1/ug902-vivado-high-level-synthesis.pdf

[2017-08-08 08:02] #13 closed, assigned to nobody

[2017-08-08 09:58] RoxanaMir commented on #15
Hi David,
Thanks for helping me and my silly mistakes. I corrected the file paths and TBs, but now I'm met a bad error, I had error on "printf" and "fopen". It doesn't recognize them and the following error is reported:

@E [HLS-70] In file included from C:/Users/Asus/Desktop/zynq/solution1/.autopilot/db/netconfig.pragma.1.cpp:1:
In file included from ZynqnetMasterComplete/zynqnet-master/_HLS_CODE

[2017-08-11 15:37] dgschwend commented on #15
Please remove "netconfig.cpp" from synthesis, this file is only needed for the testbench. "netconfig.hpp" is required for both synthesis and testbench.

Here is a complete list of the required files and whether they are intended for TB or synthesis (see attribute "tb"):

<file name="../../weights.bin" sc="0" tb="1" cflags=" "/>
<file name="../../unittests.hpp" sc="0" tb="1" cflags=" "/>
<file name

[2017-08-12 14:50] RoxanaMir commented on #15
Thank you very much David, I really appreciate your help.

Best regards,
Roxana

[2017-08-14 09:48] charlenea opened #16 "axi_hp config to 32 bits"
Hi Gschwend David,
I try to execute the command axi_hp_config 0 32 on the Zynqbox as you say on the _RUN.SH but it say me that it doesn't know this command. How can I config the axi to be 32 bits ? I am not able to run the network using FPGA, only using CPU.

Thank you

[2017-08-14 15:41] dgschwend commented on #16
The command is only included with the SCS Zynqbox (and only needed in this particular system). The axi_hp_config tool reconfigures the bit-width of the AXI HP port to 32 bits. If you built your own BSP and Linux system with Xilinx SDK, the correct bit width should already be configured and the command is not needed.

[2017-08-20 13:35] RoxanaMir commented on #15
Dear David,
I added the source files and test bench files as you said and also I added the "Vivado Includes" by the following path: Properties/GCC C++ Compiler/Includes/Include files.
After Synthesis, I met the following error:

../_HLS_CODE/cpu_top.cpp:103:10: error: cast from pointer to smaller type 'long' loses information

The error is for:
LOG("SHARED_DRAM is at address: %lu\n", (long)SHARED_

[2017-08-20 16:15] dgschwend commented on #15
Can you try with

This should force the cast without errors...

[2017-08-22 10:32] RoxanaMir commented on #15
Thanks David, I did as you say and the error was gone. But after that I have a Syncheck error:
[SYNCHK-74] Recursive functions are not supported.

At  https://www.xilinx.com/support/answers/50495.html , I found the error but I don't know how solve it.

[2017-08-22 13:24] dgschwend commented on #15
Sorry, I don't know anything about this error, and I have never seen it before.
There should not be any recursive functions in the code. And others have successfully synthesized the code before.
What's the exact and complete error message?

[2017-08-23 05:24] RoxanaMir commented on #15
Dear David,
Thanks for your answering. I was working with Vivado HLS 2015.4. I thought these errors may be for using this old version. Now I'm getting Vivado HlS 2017.1. I will synthesis the code with that and tell you the results.

Best Regards
Roxana

[2017-10-12 17:03] retina007 opened #17 "My project always compile error. Can you share vivado project to me."
Dear dgschwend:
    Do you have some tcl command to build the vivado project.    Can you share vivado project to me.

thanks very much

[2017-10-16 07:15] weiguochow commented on #15
Dear David,
Thanks very much for sharing the codes. I have some problems when running the testbench. Can you help me to solve this problem. Thank you!!!

FPGA: Computing .....@E Simulation failed: SIGSEGV.
ERROR: [SIM 211-100] CSim failed with errors.
INFO: [SIM 211-3] *************** CSIM finish ***************
4
    while executing
"source C:/Users/alex/Desktop/CNN/CNN/solution1/csim.tcl"
    in

[2017-10-17 04:45] dgschwend commented on #15
SIGSEGV would result when you access a memory area that you are not allowed to write to. Did you modify the code? What OS are you running? Which version of Vivado HLS?

[2017-10-17 04:59] weiguochow commented on #15
Dear David,
Thank you very much for your response.  I haven't modify the source code. and I run it on Windows10 and the Vivaodo HLS 2016.04
Thank you again. I am really appreciate your help.

It is always running until this line:
**"CPU: Offload CONV Layer c10/p1:   8x8   x 736 > 512, CONV (1x1)/1        , IN @mem(13295616-13484032B), OUT @mem(13484032B), WEIGHTS @mem( 7096448- 8605824B) (split1)

[2017-10-17 05:11] dgschwend commented on #15
Hmm... I‘ve always used Linux instead of Windows, but it should not depend on the OS. I don‘t see what‘s going wrong here.
Unfortunately I’m quite busy now. Maybe I find some time to investigate next week.

[2017-10-17 05:37] weiguochow commented on #15
Thank you for your welcome answers! I will investigate more on the source code.

By the way, I am very interested in the field that implement CNN on FPGA. Can you introduce your current work? For convenience, do you have homepage or scientific research paper?

Best regards,
Weiguo Zhou

[2017-10-17 08:29] weiguochow commented on #15
Dear  @RoxanaMir ,

Have you run the testbench simulation successfully? Can you send me the whole HLS project? I wonder weather it had problems for operation systems, version of vivado hls or hardware cache memory of computer?

Best regards,
Weiguo Zhou

[2017-10-18 15:54] dgschwend commented on #15
I‘m currently working in industry and all related projects are under NDA. ;-)
Let‘s hope @RoxanaMir has some insights, otherwise I‘ll see if I can dig up my original Vivado project and compare.

[2017-10-21 08:54] RoxanaMir commented on #15
Hi Guys,
I was working with Vivado HLS 2015.4 at first and I had a lot of errors. Then I used Vivado HlS 2017.1 which I had non of the earlier errors but the project didn't run completely. In our country we use cracked soft wares and I think my errors is all for that. Then I wrote a code for a PE using C++ and run it in Vivado, but a also had a lot of errors. I really think using cracked soft ware

[2017-10-24 18:26] retina007 commented on #15
Dear @weiguochow
I have the same problem with you (Simulation failed: SIGSEGV.) , do you solve the problem?  my vivado is 2016.4  with win7 system .
Best regards

[2017-10-24 19:10] retina007 commented on #15
@dgschwend   I have the same problem(Simulation failed: SIGSEGV.)    my vivado is 2016.4 with win7 system .
Best regards

[2017-10-25 16:03] retina007 opened #18 "about _FIRMWARE"
Dear @dgschwend
I use the HLS generate the FPGA_TOP IPcore ,  and build the Vivado  Block Designer to generate the zynqnet_200M.bit file.    But _FIRMWARE confuse me.
1. if I use SDK (cross-compile),then I copy all files(such as **fpga_top.cpp ... cpu_top.cpp** ,except document vivado_include and ZynqNet_Accelerator_HW_DEF) to SDK (is it right?) .  But  fpga_top.cpp  is **HLS cpp style** , can SDK

[2017-10-25 16:12] #17 closed, assigned to nobody

[2017-10-26 05:36] dgschwend commented on #18
Glad to hear you managed to compile the HLS! What did you do to make it work?

Regarding firmware:
1. Yes, fpga_top.cpp can be compiled by a standard C++ compiler. The pragmas are simply ignored. That‘s one of the very cool features of HLS: The testbench can be executed all by itself.
2. Correct, but if you do not use SDK, you will need the „vivado_include“ folder (it contains some definitions req

[2017-10-26 17:04] retina007 commented on #18
Dear @dgschwend
My  earlier error is Simulation failed: SIGSEGV.    In file cpu_top.cpp, I just change SHARED_DRAM size to more ; then the problem is solved.
Today I export vivado hardware to SDK and  "build all" , but It report error below.(SDK 2016.4 run on win7 x64 )
![1234567](https://user-images.githubusercontent.com/15125380/32066359-10d338d8-bab2-11e7-91bc-c3ba9afafe89.PNG)

![343434](https

[2017-10-27 06:41] dgschwend commented on #18
Ok, so the SIGSEGV error can be solved by increasing the shared DRAM size. Good to know! (@roxanamir)

I did not use the Xilinx SDK for building the software project, because we are running a customized Linux on the Zynq. However, I think you need to adjust your include directories. Normally, in Eclipse-based IDEs such as Xilinx SDK, you should be able to right-click > Project Settings in the Proj

[2017-10-27 09:35] retina007 commented on #18
Dear @dgschwend
now every goes well.   IP core  and SDK works well.
finally, I want to know the zynq xc7z045 **configure**(in vivado block designer) , It is the .tcl file , you can generete it by following below picture. You can upload to github or email to me (wdlong007@gmail.com)
1. double click zynq7 block
![1](https://user-images.githubusercontent.com/15125380/32097379-ede48a4a-bb3b-11e7-8b8d-

[2017-10-30 15:01] weiguochow commented on #18
Dear David,

Thank you, I want to put live video or camera data into the Zynqnet module. How can I modify the project? Can you give me some advice.

Best regards

[2017-11-02 01:57] weiguochow commented on #18
Dear @retina007 ,
I am very glad to hear you have build vivado block design successfully, can you give me some tips on it?

Best regards

[2017-11-06 02:18] LakyTT opened #19 "about device and usage"
Hi ! @dgschwend  now I am learning CNN FPGA-based ，and so luckily to see your work here. I want to know whether it supports my FPGA. My FPGA is Xilinx Zynq UltraScale+MPSoC ZCU102.
if possible ，could you give me the steps about how to implement on FPGA？
I am a beginner ，so I am afraid I  need more details.

Best regards！！

[2017-11-06 12:41] xiaojidan opened #20 "Your master pdf"
Hi @dgschwend ,
Can you share your master thesis pdf for better understanding?

[2017-11-06 16:35] dgschwend commented on #20
First link on the homepage... ;-)

[2017-11-06 16:35] #20 closed, assigned to nobody

[2017-11-06 16:44] dgschwend commented on #19
You need to compare the numbers from section 5.2.1 Resource Utilization with the number of LUTs, FFs, BRAMs and DSPs available on the XCZU9EG FPGA (the one on the ZCU102 eval board) for a rough guess. If it doesn‘t fit, you can still decrease the number of processing untis in the ZynqNet FPGA accelerator. However, the Ultrascale+ Platform may be better suited for the accelerator, so maybe you best

[2017-11-06 16:46] dgschwend commented on #18
@weiguochow: please open a separate issue for your questions

[2017-11-07 02:08] LakyTT commented on #19
thanks so much ！I will try to do it！

best regards！

[2017-11-10 04:32] LakyTT commented on #19
Hi ,dear david，now I am using vivado_hls，so what files should be test bench？and what files should be source in your folder ：_HLS_CODE ？

thanks ！

[2017-11-10 07:52] dgschwend commented on #19
You can see it e.g. in the screenshots in https://github.com/dgschwend/zynqnet/issues/11

[2017-11-17 13:10] LakyTT commented on #19
hi ！dear David .I am a bit confused now. can this network classify image in real-time?and how to  confirm the classification accuracy? how can we classify  images on the network via FPGA（not via GPU）?for example，inputing  an image via FPGA，can this network classify it?  forgive me for my stupid question.

best regards ！！

[2017-11-22 15:39] dgschwend commented on #19
Yes, ZynqNet can classify images in real-time (see the performance evaluations in the paper to see if it‘s fast enough for your real-time requirements). You can confirm the accuracy using the C++ golden model / HLS code. It gives bit-identical results to the FPGA implementation.
You need to run the accelerator + CNN on a Zynq SoC to classify images. You can feed the images from Linux or directly f

[2017-11-23 08:26] LakyTT commented on #19
thanks so so so so much！！！now I  have got some good result.looking forward to next work！
when I end  my work ,I will tell  you  my final result.

best regards ！

[2017-12-09 11:56] wasim6691 opened #21 "Conversion to System C"
Hi David. Hope You are fine and doing well.

I am the beginner in System C. Can You please help me out that How to convert Your ZYNQNET C++ code into System C. Can You give me few tips. I would be highly thankful for that. Waiting for the reply. Thanks

Best Regards
Wasim Khan

[2017-12-09 14:26] dgschwend commented on #21
Sorry, I dont‘have any experience in SystemC.

[2017-12-11 13:28] wswsamao opened #22 "about how to open the project"
Hi David.
       Thanks for your sharing, I am a beginner. I am very interested in your design and I have download the code, but I found that I can not open this project by Vivado, could you please share the project file？
    Thank you again
    Best wishes
    Shuo Wang

[2017-12-11 16:04] dgschwend commented on #22
Sorry,cannot share the project file due to licensing concerns. See this screenshot https://cloud.githubusercontent.com/assets/23473441/24205561/bad92364-0f41-11e7-8dbc-5f3dd832a721.png as an example configuration, and be sure to check the other issues here (also the closed ones).

[2017-12-12 06:21] #19 closed, assigned to nobody

[2017-12-12 06:21] #14 closed, assigned to nobody

[2017-12-12 10:00] wswsamao commented on #22
thanks again, I will try it

[2017-12-12 12:54] chengsonghust opened #23 "What's reg(T x) template's pipelining directive working for ?"
_template <class T>_  T reg(T x) {
_#pragma_ HLS pipeline
_#pragma_ HLS inline self off
_#pragma_ HLS interface ap_ctrl_none register port=return
	return x;
}

    reg(T x) is used as a register to store the SHARED_DRAM data. Why should it be defined as pipeline？ Thx.

[2017-12-12 16:49] dgschwend commented on #23
Good question! The`#pragma HLS pipeline` is probably not needed here, and probably not respected by the HLS compiler either. The idea was probably not to disturb the ability of the tool to pipeline through and including these registers. Feel free to remove the pragma, recompile and see if it makes any difference!

[2017-12-13 03:55] LakyTT commented on #19
hi！dear David：
I am using embedded Linux on ZCU102，and my result is as follows：

FPGA：computing........done.
FPGA：computing........done.
FPGA：computing........done.
CPU：Copy Results from FPGA DRAM（4096 Bytes）

Total run time：2237400ms

Result(top-5)：
=============
89.05%：class 207 （output 21.10）
4.09%：  class 208 （output 18.02）
3.37%：  class 219 （output 17.83）
2.13%：  class 852 （output 17.37）
0.36

[2017-12-13 07:01] dgschwend commented on #19
How did you run this test?

[2017-12-13 07:09] LakyTT commented on #19
first execute the Makefile，then execute test.
according to tips："Usage: ./test  CPU|FPGA input_file [-quiet]"
Type "./test CPU input_file [-quiet]" and get this result.

[2017-12-14 04:42] chengsonghust commented on #15
@retina007  I also get "Simulation failed: SIGSEGV" problem. And error turns out coming from the following lines:
fpga_top.cpp

After deleting the "blob/", everything works well.

Platform: Ubuntu 16.04, Vivado HLS 2017.01

You can choose Debug mode,  add breakpoints and track the error using "C Simulation -> Launch Debugger" step by step.

[2017-12-14 05:59] dgschwend commented on #15
Did you change the network layer names? You might need to increase the size of „fname“ from 30 characters to something bigger in that case.
Or are you maybe missing the „blob“ folder? Try creating a subfolder „blob“ in your project folder... or simply deactivate the „write DRAM to file“ part used for debugging (replace #if 1 with #if 0 in https://github.com/dgschwend/zynqnet/blob/21cf1cc61460794e2

[2017-12-14 06:00] #21 closed, assigned to nobody

[2017-12-14 06:05] dgschwend commented on #15
PS: According to issue #18, @retina007 solved his SIGSEGV problems by increasing SHARED DRAM size:

[2017-12-14 13:31] chengsonghust commented on #15
@dgschwend   Yes. Creating a "blob" subfolder  under "PROJECT/solution/build/" path before C-Simulation also works.

[2017-12-15 06:31] LakyTT commented on #19
could you give me  some suggestion about my questions please？
maybe my questions are stupid（I am a  rookie in FPGA），forgive me..

best regards！ thank you！

[2017-12-15 19:01] dgschwend commented on #19
You are running the CPU Simulation. You need to build the project using Vivado HLS first, then generate the Bitstream using Vivado, then generate the Zynq Software using Xilinx SDK. Then you can run on FPGA.
You can find the association between class IDs and class names for ImageNet for example here:
https://gist.github.com/yrevar/942d3a0ac09ec9e5eb3a

[2017-12-18 02:55] lishen565 opened #24 "Can zynqnet run on xilinx zcu102?"
Hi all, our lab has only a soc xilinx zcu102 and i'm a freshman of FPGA developing. I want to verify zynqnet on zcu102 so i have to transplant it from 7045 to zcu102. Are there any docs or other projects to help me run zynqnet on zcu102? Thank you all.

[2017-12-18 02:56] lishen565 commented on #24
link of xilinx zcu102 :https://china.xilinx.com/products/boards-and-kits/ek-u1-zcu102-g.html#trainingSupport

[2017-12-18 02:57] lishen565 commented on #24
link of zcu102 https://www.xilinx.com/products/boards-and-kits/ek-u1-zcu102-g.html#trainingSupport

[2017-12-18 06:38] dgschwend commented on #24
The Xilinx Ultrascale ZU9 on your board is significantly bigger than the FPGA fabric on the Zynq 7045 I used. There should be no problem using this board. As for docs: follow the infos in the project report and the Xilinx HLS Guide / „ultrafast design methodology“ guides + videos to get started with HLS. Let me know if you have any specific problems and questions.

[2017-12-19 16:39] gueyezizaaa opened #25 "input image for simulation"
hello I'm currently working on your project and I want to know which kind image you used for your siumulation
Also, I'm actually trying to convert jpg image with the python code provided but that dosen't work
this is the line code "  convert_image("‪f:\telecharge.jpg",225,225,"‪C:\Users\Asus\Desktop")  "
is there an error.
thanks

[2017-12-20 02:35] lishen565 commented on #24
Thank you for your answer. Could you tell me the specific type of xilinx Soc used for Zynqnet? And our lab will buy it to start work on new board.

[2017-12-20 06:49] dgschwend commented on #24
The details are all in the project report. I‘d recommend an evaluation kit with some kind of video output in case you want to do a demo.

[2017-12-20 06:50] dgschwend commented on #25
Image should be RGB. JPG converted with the Python code should work fine. What‘s the exact error?

[2017-12-20 10:40] gueyezizaaa commented on #25
this is the msg
![image](https://user-images.githubusercontent.com/33333987/34203181-78a82854-e57a-11e7-9185-19c91e39164d.png)

[2017-12-22 03:33] chengsonghust opened #26 ""OPMODE Input Warning" Discussion"
I have tried to fixed the "OPMODE Input Warning" . And this warning sames coming for "fpga_top_fadd_32ng8j.v" alone, which adds two floating data (32bit) using DSP48E.  Other files including "fixed-point data ADD/MUL" and "float-point data MUL/CMP" do not  induce this warning. This conclusion has verified after varying the _data type_ and _function_ of the Xilinx Tutorial "ug871-design-files/Using

[2017-12-22 08:54] dgschwend commented on #26
So this is still not fixed in the Xilinx libraries...
It‘s just a warning, you can ignore it and the generated HDL code / FPGA logic still works. However, the warning slows down simulation so much that proper HDL simulation is not possible.
Someone would need to file a bug report to Xilinx.

[2017-12-22 08:55] dgschwend commented on #26
But anyway, using fixed-point instead of float would be a great idea for ZynqNet!

[2017-12-23 12:42] wasim6691 opened #27 "DEBUGGING the Code"
Hi David

Hope You are fine. I have to ask You that can we compile and Debug  Your code on a c++ compiler besides VIVADO HLS. I really want to debug your code to understand it fully. Thanks. waiting for Your reply

Khan
Master thesis student at Bosch, Reningen.

[2017-12-24 06:04] chengsonghust commented on #27
Vivado HLS can easily debug the code step by step. Other c++ compiler maybe unable to handle #pragma directives.

[2017-12-24 08:52] wasim6691 commented on #27
Which Fpga should I select in the vivado Open Project. I am encountering an
error when I run the project. I send u the exact error in some time.

On Dec 24, 2017 7:04 AM, "Chrisp HM" <notifications@github.com> wrote:

[2017-12-26 06:20] lishen565 opened #28 "Problem in running C simuliation."
Hi, I've create a project in Vivado HLS 2016.4 for zynqnet, and started the "Run C Simulation". The output in console would stop at "Offload Conv Layer c10/p1:....." and it said "Program recived signal" and debug stoped at here.

[2017-12-26 06:25] lishen565 commented on #28
the detail of console is list below:

CPU: Network Setup:
c1    : 256x256 x   3 > 64 , CONV (3x3)/2p + ReLU, IN @mem(       0-  786432B), OUT @mem(  786432B), WEIGHTS @mem(       0-    7168B)
f2/s3 : 128x128 x  64 > 16 , CONV (3x3)/2p + ReLU, IN @mem(  786432- 4980736B), OUT @mem( 4980736B), WEIGHTS @mem(    7168-   44096B)
f2/e1 :  64x64  x  16 > 64 , CONV (1x1)/1  + ReLU, IN @mem( 4980736- 52428

[2017-12-26 06:37] lishen565 commented on #28
The HLS bebugging detail is below:
![c simulation stop](https://user-images.githubusercontent.com/1812302/34349108-0a2e032e-ea4a-11e7-8521-9e754ef01a6f.PNG)

[2017-12-26 16:43] dgschwend commented on #28
Please see the other issues here for solutions to the „SIGSEGV“/segfault problem. Most people get around this by doubling the size of the shared_DRAM variable.

[2017-12-26 17:01] dgschwend commented on #27
Most FPGAs should work. Original work is on XCZ7045. See the project report for details.

[2017-12-30 15:55] ortalik opened #29 "zynqnet on xilinx XC7Z020"
Hello David,

I am interested in testing your network on the XC7Z020 SoC which is smaller than the XC7Z045 you were using. I can see that the main issue is with the bram utilization.
Do you have an idea how this could work? Are there any changes we could try? Or do we need to completely redesign?

Edit: we have already tried to cut the number of processing elements. Even with 1 there is over utili

[2017-12-30 22:08] #28 closed, assigned to nobody

[2017-12-30 22:09] #27 closed, assigned to nobody

[2017-12-30 22:13] dgschwend commented on #25
That error looks strange, as if there went something wrong during copy-pasting the code. Are you using Python3, and the code from https://github.com/dgschwend/zynqnet/issues/4#issuecomment-283332644?

[2018-01-02 12:49] lishen565 opened #30 "Problem in exporting RTL in VHLS."
Hi, I've passed the C simulation and C synthesis, but it took too long time(about five days) to finish the C/RTL cosimulation. So I dropped the cosimulation and wanted to  export the RTL , but now I get stuck at this step. The detail info VHLS told me is below, could you please help me out，thank you？

 Starting export RTL ...
D:/Xilinx_Vivado_2016.4/Vivado_HLS/2016.4/bin/vivado_hls.bat D:/lishen/l

[2018-01-09 13:46] wasim6691 opened #31 "Image Pixel Values Range"
Hi David

**I want to ask You that If i convert the hexadecimal values from the "indata.bin" file into the corresponding floating point values then What range of the values should I expect ?** . At the moment I am getting the range of the pixels values in negative and positive both. Is there any defined range of pixel values e.g. (0, 255) or (-255, 255) etc. Hoping for an early response. Thanks

B

[2018-01-09 18:19] dgschwend commented on #31
Good question! As you can see in the conversion script https://github.com/dgschwend/zynqnet/blob/master/tools/convert_jpeg_to_indata_bin.py, Zynqnet expects inputs between 0-255, but with the ImageNet mean vales [104, 117, 123] subtracted.

[2018-01-09 18:23] dgschwend commented on #31
I.e. the floating-point range will be approximately -123 to +151, depending on the channel (R/G/B)

[2018-01-09 18:36] wasim6691 commented on #31
I am reading the indata.bin file and making a 3d array for storing the
pixel values. The array pattern is [channels][height][Width]. Is that
pattern ok ? But I have not subtracted any mean value from the values which
I m reading from the binary file ?

On Jan 9, 2018 7:23 PM, "David Gschwend" <notifications@github.com> wrote:

[2018-01-09 18:49] dgschwend commented on #31
CHW order is correct. Beware of BGR color channels.
See the linked script for the conversion from JPG -> indata.bin, it says all about the conversion.
Why are you trying to interpret the binary file, by the way?

[2018-01-09 18:57] wasim6691 commented on #31
The binary file indata.bin is of specific image right?. So I am reading the
values from the binary file and trying to implement the first layer my
self. Can we use the binary file as image pixel file. The values inside are
in hexa and I m interpreting 4 hex values as 1 floating point value ? Is
that right or wrong ?

On Jan 9, 2018 7:49 PM, "David Gschwend" <notifications@github.com> wrote:

[2018-01-09 23:19] wasim6691 commented on #31
Hi David

Please Answer the Above question.

One More question is that why are you subtracting the mean values for the ImageNet image Set. Can You please explain the reason behind tat. Thanks for your time. Keenly looking forward for your reply.

[2018-01-10 07:38] dgschwend commented on #31
Your assumptions are correct.

The network has been trained with mean-subtracted images, therefore needs mean-subtraction also during inference. There‘s some debate whether this is necessary in the Deep Learning community, but it‘s standard in the DIGITS framework I trained the network with.

[2018-01-10 07:42] wasim6691 commented on #31
HI David

I am.getting the floating point values in the range of -123 to 151 as you
have mentioned before. What do you think it would be ok to use these as
pixels values for deep neural networks like zynqnet. I am using these and
multiplying with the weights values to get the next layer values.? Thanks

On Jan 10, 2018 8:38 AM, "David Gschwend" <notifications@github.com> wrote:

[2018-01-16 10:44] HeroGian opened #32 "Problem in generating bitstream with Vivado SDSOC"
Dear David,

I'm a self driving car researcher of the university of Modena. I'm very interested in your work and I want to test the ZynqNet on Zynq Ultrascale.
I have tested the net with Vivado HLS simulation and it works perfectly, but when I try to synthetize fpga_top in hardware with Vivado SDSOC it returns me some DMAnalysis errors, in particular:

_ERROR: [DMAnalysis 83-1305] Trying to overwr

[2018-01-16 17:34] dgschwend commented on #32
Hi Gianluca

Thanks for your interest. I did not use SDSoC for the bitstream compilation, so unfortunately I don‘t have any ideas regarding your errors. I would suggest you read the HLS guides and SDSoC guides, especially the sections related to interfaces. You could also post on the Xilinx forums.

Good luck! David

[2018-01-17 10:34] toniomtb opened #33 "Create the SDK Project"
Dear mr. @dgschwend,
I'm interested to test your CNN on Xilinx UltraScale+. I've generated the fpga_top IP with Vivado HLS and used it to create an hardware platform for the ZCU102 part with Vivado.
I've never used Vivado SDK so i'm right now stucked and don't know how to proceed, can you give me some advice on how to create a executable with SDK that uses the fpga_top IP? Another question, for cr

[2018-01-17 10:40] HeroGian commented on #32
Thank you for the answer David,  I'll read the Vivado HLS and SDSOC manuals and I hope I can solve the problem

[2018-01-17 18:16] dgschwend commented on #33
Hi Antonio

Thanks for your interest. I haven‘t tried the project with UltraScale+ myself, looking forward to hearing about your results and experiences.
I would recommend you start with some tutorials and guides for Vivado SDK / Xilinx SDK (e.g. google for „vivado sdk tutorial zynq“ and take a look at the videos and PDFs). You can export the hardware definitions from Vivado Design Suite using som

[2018-01-24 02:16] yaohuFCS opened #34 "Is DMA needed?"
Hi, could you please tell me where can I find your block design diagram, can we just connect the m_axi from the PL to the HP port on ps? could that work? or we need a DMA between them. Thanks in advance!

[2018-01-24 07:43] dgschwend commented on #34
The block diagram is shown in the report, which I highly recommend to read carefully!

[2018-01-24 13:36] yaohuFCS commented on #34
Thanks a lot!

[2018-02-01 06:40] haroonrl opened #35 "HLS Synthesis Errors & Warnings"
Hi ,
i am unable to synthesis the accelerator , synthesis results in following errors and warnings:

ERROR: [HLS 200-70] Synthesizability check failed.
command 'ap_source' returned error code
    while executing
"source /opt/Xilinx/Vivado/2017.4/bin/fpga/solution1/csynth.tcl"
    invoked from within
"hls::main /opt/Xilinx/Vivado/2017.4/bin/fpga/solution1/csynth.tcl"
    ("uplevel" body line 1)

[2018-02-08 12:43] bkzshabbaz commented on #32
@HeroGian were you able to resolve your issue?  I'm also trying to compile this project with SDSoC and am experiencing the same errors.

[2018-02-09 09:43] HeroGian commented on #32
Hi, I managed to sinthetize ZynqNet with SDSoC v2017.1, I have made changes in some pragmas.
Try to remove these pragmas in fpga_top.cpp:

_#pragma HLS INTERFACE m_axi depth = DRAM_DEPTH port = SHARED_DRAM offset = slave bundle = memorybus register
#pragma HLS INTERFACE s_axilite port = layer bundle = axilite  register
#pragma HLS INTERFACE s_axilite port = num_weights bundle = axilite  register
#

[2018-02-09 21:03] hex0102 commented on #15
@dgschwend hi, david, how to increase the SHARED_DRAM SIZE, it seems to be precomputed by weightsize + datasize.  Do you mean to increase an arbitrary amount of storage?

[2018-02-10 08:07] dgschwend commented on #15
You can try to use for example 2*(weightsize + datasize) and see if that helps...

[2018-02-21 01:17] snxoxopy opened #36 "Convert jpeg to binary"
Hi :)
I've got some issues. Would you check it up for me?
I found a different result from the example you uploaded(indata.bin) while trying to convert puppy-500x350.jpg to test.bin.
After converting the puppy-500x350.jpg, I compared test.bin with indata.bin except for noise padding parts and I used half-fill, half-crop by uncommenting your code. Unfortunately, they don't have the same value exactl

[2018-02-27 07:47] dgschwend commented on #36
Hi

I‘m not sure why there‘s a binary difference. Can you check how much the individual pixel values differ? E.g. by how many percent you‘re off from the original image, for some test pixels? It‘s normal that floating-point computations give slightly different results on different machines, but it should be only a very small difference.

Then, what you‘re referring to as 88% vs. 75%„accuracy“ has

[2018-02-28 00:47] snxoxopy commented on #36
Thank you for your reply:)

OHhh there was the confusing word "ACCURACY" I wrote. As you said, it's just the probabilities calculated from the Softmax function. What I wanted to tell you was that I got the lower probabilities when I used test.bin than indata.bin.

Plus, I counted how many pixels are different from the original image and I can see 40,167 pixels equivalent to the original image, whi

[2018-02-28 06:24] dgschwend commented on #36
Yes, as long as the top-1 class is the same and has a clearly higher Softmax class probability than the rest of the classes, you don‘t need to care.

The network was trained with „half-crop-half-fill“ images, so I assume this method is also reasonable for inference. You would have to try and measure the impact on accuracy...

[2018-02-28 14:29] snxoxopy commented on #36
It's very nice of you to say so.
Thank you, David!

[2018-03-01 09:45] jc5706 commented on #22
That helps to know what is application and what is test bench.
I had problems because of paths with spaces. Check them!

[2018-03-01 12:00] jc5706 commented on #32
HeroGian, as far as I know, SDSoC is meant to translate C functions into PL blocks, while the original intention is to run that software on the embedded ARM cores. I would use the SDK instead.

[2018-03-07 01:25] lishen565 commented on #30
![2](https://user-images.githubusercontent.com/1812302/37068413-8902c1c2-21e9-11e8-8fbb-e190d5b525fb.PNG)

[2018-03-07 01:28] lishen565 commented on #30
Have you met this error during "export RTL"?
![2](https://user-images.githubusercontent.com/1812302/37068469-cf334e14-21e9-11e8-9d2b-fa6ab7534c9c.PNG)

[2018-03-07 08:24] dgschwend commented on #30
No, I’ve never seen this problem before. Looks like a bug in the IP packaging code. Have you tried packing the IP in a different format (Verilog/VHDL/all other settings)? Can you try a different version of VHLS? Maybe like that you can find a way around that problem...

[2018-03-08 03:22] lishen565 commented on #30
Thanks, i'll try the ways you advised.

[2018-03-15 15:18] mslavescu commented on #29
I'm also interested in a variant of this network for PYNQ-Z1 board, that uses ZYNQ XC7Z020-1CLG400C:
https://store.digilentinc.com/pynq-z1-python-productivity-for-zynq/

[2018-03-17 08:51] ysdagar opened #37 "input_offset and weight offsets"
Hi David,

I'm net to both Deep Learning and HLS & trying to understand your code. In the following function,

void fpga_top(layer_t layer, data_t *SHARED_DRAM, unsigned int weights_offset, weightaddr_t num_weights, unsigned int input_offset);
what are "weights_offset" and "input_offset", used in fpga_top.hpp file?
Thank you in Advance.
Yashwant

[2018-03-17 09:37] ysdagar commented on #29
I'm also interested in a variant of this network for Xilinx-ZC702 Evaluation Kit that uses ZYNQ XC7Z020 Soc.

[2018-03-17 14:37] JohnnyOpcode commented on #29
I'm fascinated by the people who want this on a Z7020. I guess they can't comprehend the FPGA resources required for this magnificent piece of engineering. I guess they also can't try and optimize the code further and expect someone (the author) to do it for them. My suggestion would be to study this work of art, learn and stand on the shoulders of greats like dgschwend. I dare you all to do bette

[2018-03-18 14:39] ysdagar commented on #29
Thank you Johnyopcode, for your encouraging words & yes challenge taken! :) :)

[2018-03-23 11:57] leeeexp commented on #24
@lishen565 hello ,lishen565,I come from Harbin Institute of Technology，CHINA. We also want to run zynqnet on zcu102,my email is leexp1997@126.com.  Can we contact  by mail？thanks~

[2018-03-23 11:59] leeeexp commented on #18
@weiguochow  hello ,weiguochow,I come from Harbin Institute of Technology，CHINA. We also want to run cnn on FPGA ,my email is leexp1997@126.com. Can we contact by mail？thanks~

[2018-03-25 08:35] leeeexp opened #38 "how to use the log in hls"
hello,I see that in your codes,there have many LOG in the hls code. Can I see the log in the pc when I use the VHLS simulation?

[2018-03-25 09:03] leeeexp commented on #35
@haroonrl ,你好，可以试试吧shared_bram改成原来的两倍大小再看看，我改完以后已经综合成功。

[2018-03-25 09:18] leeeexp opened #39 "how to use the unittests codes in the hls?"
Hi David,I dont konw how to use the unittests codes in the hls,when I change the  #define DO_UNITTESTS 0 to #define DO_UNITTESTS 1 ,there have many errors.
![image](https://user-images.githubusercontent.com/32453637/37873472-3bee27d0-3050-11e8-8dc3-97bb8a13b704.png)

[2018-03-25 15:19] dgschwend commented on #38
When you compile the code with argument -DEBUG, you can see all the log messages on the console.

[2018-03-25 15:21] dgschwend commented on #39
I'm not sure if the unit tests are up to date with the latest version of the code... I haven't tried them in a while. You might need to make some changes.

[2018-03-25 15:33] dgschwend commented on #37
Hi Yashwant. They are the relative memory offsets for the weights and input, with respect to the SHARED_DRAM pointer. See e.g. https://github.com/dgschwend/zynqnet/blob/b631306b747f32403acb02fd0aa49c4979a88300/_HLS_CODE/memory_controller.cpp#L123 for an actual memory access...

[2018-03-31 14:33] JackChenofNCP opened #40 "Another ZYNQ board"
Hi, David. I am interested in you zynqnet. It's really a great work. Thanks for sharing. I learnt a lot from you report and code. So I am trying to test you CNN on my own ZedBoard these days and have met 2 problems.

1. I have imported you HLS code files into my HLS project correctly according to one of your previous reply to @wswsamao and synthesised successfully. But I met these errors while run

[2018-03-31 14:37] #40 closed, assigned to nobody

[2018-03-31 14:39] JackChenofNCP opened #41 "Problems about C cimulation and ZYNQ Board"
Hi, David. I am interested in you zynqnet. It's really a great work. Thanks for sharing. I learnt a lot from you report and code. So I am trying to test you CNN on my own ZedBoard these days and have met 2 problems.

1. I have imported you HLS code files into my HLS project correctly according to one of your previous reply to @wswsamao and synthesised successfully. But I met these errors while run

[2018-04-01 07:57] dgschwend commented on #41
1. the SIGSEGV error can be fixed by increasing the size of SHARED_DRAM (e.g. by a factor of 2), as others here have found out
2. if you want to shrink the network, you need to have an entire CNN training toolchain ready (Caffe, GPU Server, ImageNet database). How to shrink a CNN with minimum impact on accuracy is an open question in science and currently boils down to trial & error. You certainly

[2018-04-02 10:54] JackChenofNCP commented on #41
Thanks for your solution. Increasing the size of SHARED_DRAM is right. I am working on the simplification now and may need you help again if new questions accures.

[2018-04-02 11:14] JackChenofNCP commented on #41
Thanks for your solution. Increasing the size of SHARED_DRAM is right. I am working on the simplification now and may need your help again if new trouble occures.

[2018-04-07 15:03] lishen565 opened #42 "How to debug/run the C project “zynqnet_sdk” in Xilinx SDK？"
Hi, I've finished all the steps in HLS and Vivado. But when i launch the xilinx SDK and start to debug the C project "zynqnet_sdk" which has a main() in cpu_top.cpp, the xilinx SDK tells me "Launch Failed. Bianry not found".  Did you meet this problem before？My project explorer info is as follow.

[2018-04-07 15:04] lishen565 commented on #42
![default](https://user-images.githubusercontent.com/1812302/38456513-f38c9ee6-3ab7-11e8-9a34-6909d58a1c47.PNG)

[2018-04-07 15:07] lishen565 commented on #42
when i start to "debug as" -> "4 launch on hardware(GDB)", SDK info is as below.
![2](https://user-images.githubusercontent.com/1812302/38456572-79680f1e-3ab8-11e8-928a-9d503404cae9.PNG)

[2018-04-08 09:59] dgschwend commented on #42
Sorry but I did not use Xilinx SDK, this seems to be a specific problem related to the IDE...

[2018-04-09 08:40] lishen565 commented on #42
Thanks. I've solved this problem in Xilinx SDK. Now I boot my ZC706 board  based on the petalinux(http://www.wiki.xilinx.com/Zynq2017.4+Release). I put the image of petalinux in SD card and debug the zynqnet code in "_FIRMWARE" dir. But the petalinux image has no libstdc++.so.6 and I can't continue the debug under Xilinx SDK.
![3](https://user-images.githubusercontent.com/1812302/38487970-86bb254a

[2018-04-10 00:47] lishen565 commented on #42
I’ve solved the problem by configuring the linker with "-static".

[2018-04-10 12:05] lishen565 opened #43 "Questions about the results of output on FPGA"
Hi, I've run the zynqnet on Xilinx ZC706 successfully.  The result of top-5 is puzzling me though
 I've set the AXI HP port to 32 bits. Did you meet this situation before ? Thanks a lot.
![4](https://user-images.githubusercontent.com/1812302/38555913-7a98a49a-3cfa-11e8-8a22-0792639f195f.PNG)

[2018-04-11 05:35] achiless123 commented on #43
@lishen565 hi,lishen565,I'm also interested in use this net on zynqboard. But I met lot of difficulties. Maybe we can communite with each other. I really need your help. (Maybe in Chinese? I'm not good at English)

[2018-04-12 05:37] lishen565 commented on #43
Hi, now I‘m doubt  whether the zynqnet is running successfully on Xilinx ZC706. I checked the code and I’m not sure the FPGA has finished its computing work.   Do I need to regenerate new fsbl.elf based on the exported hardware in Xilinx SDK ? Or fsbl.elf has any relationship with the .bitstream？

[2018-04-12 05:45] dgschwend commented on #43
Hi! That looks almost like random data being interpreted as floats... regarding the FPGA having finished it‘s computation: it seems like the layers take ~140ms; that‘s the actual runtime between the start signal being asserted and the busy signal going away, so there is something happening... can you compare the contents of SHARED_DRAM before and after the run? Maybe initialize to zero and then ch

[2018-04-12 05:48] dgschwend commented on #43
Regarding the FSBL: I think the AXI width is set up there, so you would need to generate a customized FSBL for the bitstream. Or set the AXI width via the appropriate registers from the running Linux. How are you doing it now?

[2018-04-12 08:26] lishen565 commented on #43
Hi，I've compared the content of  SHARED_DRAM_DATA by xilinx SDK at three places which are 1) after calling allocate_DRAM_memory (func that initializing SHARED_DRAM_DATA firstly); 2) after calling copy_input_image_to_DRAM (func that put indata.bin into SHARED_DRAM_DATA); 3) after calling copy_results_from_DRAM. They are different as you guessed. I have changed the iteration from 100 to 1 inorder to

[2018-04-12 09:53] dgschwend commented on #43
See e.g. https://github.com/dgschwend/zynqnet/issues/2#issuecomment-266667085

[2018-04-12 09:56] dgschwend commented on #43
The configuration of AXI bus width might also be possible using the /sys/class/xdevcfg driver. We recently used that to configure the clock rate in another Zynq project. I'll attach the corresponding files. YMMV...
[setup_fpga.txt](https://github.com/dgschwend/zynqnet/files/1902496/setup_fpga.txt)

[2018-04-12 10:03] dgschwend commented on #43
Just found how to change the AXI bus width from running Linux (without recompiling FSBL):
https://github.com/RedPitaya/RedPitaya/issues/89#issuecomment-267846075

[2018-04-15 18:45] ghost opened #44 "Can we train your model for zynqnet on any supercomputer cluster with Digits installed on it? What do you suggest?"
I don't have the required computing resources so I am thinking of getting access to some supercomputer to train the model. I was wondering if your model with datsets can be trained on it if it has DIGITS NVIDIA module available on it?

[2018-04-16 01:36] lishen565 commented on #43
Hi, I've debugged zynqnet in Xilinx SDK and found some puzzles in mem view. The original indata.bin in mem is below:
![default](https://user-images.githubusercontent.com/1812302/38785938-24343d42-4157-11e8-9ea9-36862bd67a38.PNG)
After calling copy_results_from_DRAM(results, ch_out) the "results" in mem is below:
![1](https://user-images.githubusercontent.com/1812302/38786045-eff6dd72-4157-11e8-934

[2018-04-16 05:34] dgschwend commented on #44
Hi sara1271,
Zynqnet uses only standard layers, so any (super)computer with Caffe installed should be usable for training. DIGITS itself is not absolutely needed, but very helpful for managing and evaluating the training. Good luck!

[2018-04-16 05:41] dgschwend commented on #43
Looks like a 32b/64b AXI width problem to me, too. Have you re-synthesized, exported to the Xilinx SDK, and built the FSBL after setting the ACI width to 32bit? And are you booting this new FSBL + kernel now?
I would recommend you try to read the corresponding registers from the running Linux (see my latest post) to see if it‘s set to 32b. And if needed, you can set the AXI width from running Linu

[2018-04-16 12:17] ghost commented on #44
Thank you for replying back. I am trying to shrink your model as I'm planning on using the PYNQ_Z1 board with Zynqnet which has 630 Block RAM. Any tips or suggestions would be much appreciated.

[2018-04-16 15:02] lishen565 commented on #43
Hi, I have used the mmap function in cpu_top.c and configured the AXI_HP port from 64 bit to 32 bit. I set the FPGA computing iteration from 100 to 1. But every time the results are not the same and they  are floating near 88.38. Could you tell me if it is correct and why it ranges? It takes about 5000+ms to run once on zc706, whose fpga_clk may be configured as 100Mhz(I'm not very sure about my c

[2018-04-16 15:37] dgschwend commented on #43
Congratulations, seems like it‘s almost running.

The result should be deterministic and should not fluctuate. It might have to do with timing...
For what clock speed did you synthesize the design? Did you reach timing closure?

I don‘t know the register address for the clock (FCLK0?). But you can certainly find it in one of the Zynq datasheets.

[2018-04-18 02:26] lishen565 commented on #43
Hi , I've set the FCLK_CLK0 as 100MHz, then the results  is about 5000+ms running once(iteration is 1 in for loop, not 100).
![4](https://user-images.githubusercontent.com/1812302/38908174-9cc680a8-42f1-11e8-9e87-ce8af34d3bee.PNG)
I've searched the Zynq datasheet, but there is no address info of the FCLK0_CLK.
Another question, we have run the zynqnet model by caffe in Raspberry Pi which only cost

[2018-04-18 02:30] lishen565 commented on #43
If I set the FCLK0_CLK to 200MHz, the vivado would fail in implementation. The err info is about the slack just as #2 mentioned.

[2018-04-18 04:50] dgschwend commented on #43
The register addresses are here: http://www.xilinx.com/support/documentation/user_guides/ug585-Zynq-7000-TRM.pdf
But it‘s not very easy to set the clocks via registers (see e.g. http://eliaskousk.teamdac.com/entry/fsbl-changes-needed-or-not-week-6-of-gsoc-2016). Maybe you should rather try to set the clock via /sys/class/xdevcfg (the device config driver) as I mentioned in https://github.com/dgsch

[2018-04-18 04:53] dgschwend commented on #43
Regarding execution speed of the C code: this is a HLS description of an FPGA design (plus an executable test-bench), and *not* C code optimized for runtime. There is no efficient use of the cache, no parallelization, no vectorization, ...

[2018-04-19 00:36] lishen565 commented on #43
Hi，I have tried to set register FPGA0_CLK_CTRL and found that the FPGA_clk might be 50MHz after petalinux boot(even I had set it to 100Mhz in my VIVADO block design),  and the zynqnet ran about 5000+ms(100Mhz). After setting to 200MHz in register, it ran about 2100ms+ though the result is NaN.
Another puzzle  is still about the 32bit(64bit ->32bit) enable operation by setting the 0xf8008000 and 0x

[2018-04-19 13:55] wangj346 commented on #43
@lishen565 hello lishen, I am having the same try with the zc706 board in our student project, but I ran the './test FPGA indata.ini' in the _FIRMWARE folder after 'sudo make' and the FPGA sacked after ran the command. Have you met the same problems before? (I used the auto assign address tool of vivado when create the IP core)
Would you like to share your successful project? I'd really appreciate

[2018-04-27 08:51] leeeexp opened #45 "something about codes"
hello dgschwend:
typedef ap_uint<23> memaddr_t;  // must remain <= 23 bits to fit into float
why must  remain <= 23 bits to fit into float?
can I USE typedef ap_uint<32> memaddr_t;

[2018-04-30 06:24] dgschwend commented on #45
Hi! Yes I think that‘s just a stale comment. Give it a try! ;)
Background: Initially, the idea was to copy also the layer configuration to the FPGA (shared mem), and have the entire network executed on the FPGA independent of the CPU. However, the FPGA memory port (SHARED_DRAM) can only have one data type in HLS, in this case float32. In order to read integers such as memory offsets (= memaddr_t),

[2018-05-05 13:12] PXT846765038 commented on #30
Hi, @lishen565 I met the same problem after C synthesis and C simulation. Have you solve it? Looking forward your help. Thank you.

[2018-05-08 08:20] wangj346 opened #46 "How to run the project on FPGA?"
Hi dgschwend, thanks for your sharing. I am interested in the project and try to run it on Xilinx ZC706.
I have successfully run the HLS synthesis and create the bitstream. Then I make the Makefile in the folder‘_FIRMWARE’ and create the test.exe. It run perfectly in the PC Linux with ./test CPU indata.bin.
Then I modefiy the IP core according to the ZC706 and create the bitstream successfully.
Ho

[2018-05-15 09:46] guwenning commented on #41
@JackChenofNCP  I have a question. I would like to ask how to increase the size of SHARED_DRAM. How to achieve specific. THANKS

[2018-05-25 03:38] lanemo commented on #15
@RoxanaMir
Hi, sorry to bother you. I met the same "recursive error" with you when I tried building the HLS project. Did you solve the problem by using the latest version of Vivado?
Btw, did you successfully build the whole zynqnet on FPGA at the end?
I would appreciate it if you could kindly reply to me.

[2018-05-26 07:20] JackChenofNCP opened #47 "About the Linux Operating System on board"
Hi David, I read something about the Linux Operating System on Board in your report which I can't understand well.
Quoting : "However, the Zynqbox already runs a fully working and properly tested Linux installation and includes tools to load new bitstreams into the programmable logic. Due to lack of time, we strongly favored reusing this existing installation."
I am wondering how you "load new bit

[2018-05-26 14:57] RoxanaMir commented on #15
Hi, I used the latest version of Vivado, but in our country some soft wares
are so expensive and banned, and those we can use are cracked, So I found
that the latest Vivado was cracked and it didn't work properly. So I didn't
continue with Vivado to the end. Sorry I can't help you with this problem.
I wish you the best with your project with Vivado.

On Fri, May 25, 2018 at 8:08 AM, lanemo <notifi

[2018-05-28 06:39] dgschwend commented on #47
That‘s completely right. There are methods for loading new bitstreams from a running Linux (you can search the Internet for details). The Zynqbox (https://www.scs.ch/en/fpgabox.html) includes a command „load_bit“ which does exactly that. No need to rebuild Linux, no need to reboot.

[2018-05-29 13:28] denghp5 opened #48 "configure the clock rate"
Hi David, I have read [#2comment] reference as ug585, and configure the clock rate  to 200MHZ,but it didn't work.So I try another way by using the /sys/class/xdevcfg driver to configure the clock rate in zc706,which used your files (setup_fpga.txt). and I transfer setup_fpga.txt to setup_fpga.sh. when I configure the zc706, the UART receive the error:
tee: /sys/device/soc0/amba/f8007000.devcfg/fcl

[2018-05-29 15:44] dgschwend commented on #48
Are you running the command as root? Does the xdevcfg device exist? Can you manually work with it (e.g. echo fclk0 | xdevcfg/fclk_export, read current clock value, ...)? You are on a different device, so the xdevcfg might work differently.

[2018-05-29 17:32] ghost opened #49 "Error when running the Train_Caffenet.sh"
Hello,

I am using caffe and GPU Tesla K80 to train your model. This is what I get every time I run the train script. Any idea what could be the issue? Do I need more than one GPU to train?

I0529 11:25:57.548988 73168 blocking_queue.cpp:49] Waiting for data
I0529 11:28:21.023334 73174 data_layer.cpp:73] Restarting data prefetching from start.
I0529 11:28:23.880893 73168 solver.cpp:418]     Test n

[2018-05-29 17:33] #44 closed, assigned to nobody

[2018-05-30 06:00] dgschwend commented on #49
„Out of memory“ usually means that your GPU does not have enough (free) memory, but the K80 should actually have more memory than the Titan X I used (24GB vs. 12GB). Are there other processes using the K80 at the same time (shared machine)? Can you run „nvidia-smi“ to check the current status of the GPU?

[2018-05-30 08:36] JackChenofNCP commented on #47
Thanks, I have found the way to do that. It helps a lot.

[2018-05-30 11:51] denghp5 commented on #48
Hi, I have tried to run the command "echo fclk0 | xdevcfg/fclk_export" and the terminal responded with"-sh: xdevcfg/fclk_export: Permission denied". Do you have any idea what I can do with that? Thanks.

[2018-05-30 12:31] #47 closed, assigned to nobody

[2018-05-30 14:00] ghost commented on #49
It is a shared machine but when I checked the status is says no running process found.
I reduced the batch size and could get it to run. But I'm guessing that would affect the accuracy?

[2018-05-30 15:36] dgschwend commented on #49
Weird... what’s the output from nvidia-smi? It looks like the K80 can be „split“ into 2 virtual GPUs with 12GB RAM each, maybe that‘s what’s happened.
Regarding the accuracy: You’re right. How to balance a reduction in batch-size with the learning rate should be mentioned in the report.

[2018-05-30 15:41] dgschwend commented on #48
I don‘t know how to do it for your ZC706 and your Linux/BSP version. You could ask in the Xilinx forums.

[2018-05-30 15:50] ghost commented on #49
This is the output from nvidia-smi. I obtained this while training the model.

+-----------------------------------------------------------------------------+
| NVIDIA-SMI 384.81                 Driver Version: 384.81                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
|

[2018-05-30 16:56] dgschwend commented on #49
It seems your machine includes 4 Tesla K80 GPUs, each virtually split into 2 cards with approx. 11.2 GB of memory each. So the original training settings (which use almost 12.0GB) are slightly too big. With your smaller batch size you got it down to 8.7 GB. Now you could try multi-GPU training together with the other 7 virtual GPUs! :-)

[2018-05-30 17:06] ghost commented on #49
Right! Thank you for your help! :)

[2018-06-02 18:47] #49 closed, assigned to nobody

[2018-06-02 19:02] ghost opened #50 "Compressing zynqnet"
Hi David,
I am trying to compress your model by removing some of the connections between the neurons so it would fit on my Zynq XC7Z020 FPGA.

I synthesized your model in Vivado HLS and chose my FPGA when selecting the part/board. The screen shot below is a summary of utilization estimates.
![resource utilization](https://user-images.githubusercontent.com/33066019/40879855-87352548-666c-11e8-88df-

[2018-06-04 15:40] dgschwend commented on #50
ZynqNet is already quite optimized, and the hardware and the network have been co-adapted. Therefore you can’t just shrink the hardware or the net independently. Your utilization is above 300%, so the FPGA logic is more than 3x too large. I don‘t think that you can cut the CNN that much by removing connections and still achieve reasonable accuracy.
Also, processing is very regular, so any „irregul

[2018-06-04 16:25] ghost commented on #50
I am biting off more than I can chew with my FPGA lol
Thank you for the suggestions!

[2018-06-11 01:38] YzwWh9327 commented on #15
I met the same error.but now I solved it.You can expand the SHARED_DRAM to 4*(weightsize + datasize),and then you should modify DRAM_DEPTH = 23730304 in network.hpp.

[2018-06-11 08:26] YzwWh9327 opened #51 "About how to generate zynqnet_200M.bit"
Hi! I have used the HLS generate the FPGA_TOP IPcore.But now I have no idea to generate zynqnet_200M.bit.

[2018-06-11 11:04] YzwWh9327 commented on #18
@retina007 Hi!After generating fpga_top ipcore,how do you generate the zynqnet_200MHZ.bit file?

[2018-06-11 13:54] wxbbuaa2011 commented on #24
@leexp0304 the same to you, my mail is wxbbuaa2011@163.com

[2018-06-11 14:00] wxbbuaa2011 commented on #32
@HeroGian can you send me a project of SDSoC？my mail is wxbbuaa2011@163.com,Thank you very much.

[2018-06-11 14:05] wxbbuaa2011 commented on #42
@lishen565 can you send me a project of SDK? My mail is wxbbuaa2011@163.com.Thank you very much.

[2018-06-12 05:12] KingOfBanana opened #52 "use modified model of zynqnet and run on CPU but segment fault."
Hi David,
I want to put zynqnet on zynq 7Z030 which has less brams compared to your 7045, so I have modified your  zynqnet model. I changed the output channels of some layers to reduce the conv kernels in zynqnet to reduce the requirement of bram.I ran my customed program on my PC found it has segment fault, but yours original program has no error.I just used your tools to regenerate the weights.b

[2018-06-12 06:00] dgschwend commented on #52
Some people also had segmentation faults with the original ZynqNet. It usually helped when the SHARED_DRAM memory was increased. Try allocating more memory there (eg. 2x more, doesn‘t really matter).

[2018-06-29 17:31] rjb95 opened #53 "Implementation of ZynqNet in ZCU102"
Hello, I'm trying to implement ZynqNet in the zynq MPSOC  Ultrascale+. I have generated the IP module of fpga_top successfully in HLS and I have synthetized the project in Vivado taking into account the considerations of axi ports (32 bits) and the clock frecuency (100 MHz). I am using Petalinux to execute the application generated in SDK (.elf), where I am executing it along with the files indata

[2018-07-07 16:32] #53 closed, assigned to nobody

[2018-07-19 09:19] #34 closed, assigned to nobody

[2018-08-06 05:08] faezeshadman commented on #15
Dear David,
Thanks very much for sharing the codes.
I want to try some other networks e.g. VGG or ResNet,so how can I generat .caffemodel file?

[2018-08-07 07:08] Gengyuling commented on #43
@lishen565 excuse me, I have encountered the problem as your description at first, but when I set the  0xf8008000 and 0xf8008014, the result became NaN. Do you know the reason? By the way, I had set my project to 100Mhz in my VIVADO block design. How can I do to correct it? Thank you very much.

[2018-08-19 08:08] ysdagar opened #54 "Error in C Simulation & Synthesis on vivado_hls 2018.2"
Hi David!
Thank you for sharing the great piece of work!
1. I trying to simulate the code on vivado_hls 2018.2.  & getting the segmentation fault error, right after the computation of first layer is offloaded to FPGA. I have tried increasing SHARED_DRAM to double, as discussed in other issues, however it didn't work out. Please suggest a workaround.

Here is console output  for your reference.

CP

[2018-10-03 12:26] mpFPGA opened #55 "Synthesizability check failed"
Hi David,
I'm trying to synthesize your code for a zc706 platform. I'm able to generate sd-card image for CPU-only, but when I try to do the same accelerating fpga_top.cpp, Vivado HLS 2017.4 gives me the following error:
`INFO: [HLS 200-10] Checking synthesizability ...
ERROR: [SYNCHK 200-71] /xilinx/workspace/zynqnet_zc706/src/fpga_top.cpp:59: function 'MemoryController::setup(float*, unsigned in

[2018-10-23 04:16] PSlearner commented on #41
In the cpu_top.cpp, see the line 199, SHARED_DRAM = (char *)malloc(total_size);
replace the line with SHARED_DRAM = (char * )malloc(2 * total_size);
Then it worked.

[2018-11-12 03:58] tuanho27 opened #56 "Inference error, kernel panic Oops: 5 [#1] PREEMPT SMP ARM"
Hello David,

Thank you for your great work!
I have tried to test your firmware on zc706. I finished to generate HLS code and import IP to Vivado, generate bitstream and then create the bootloader by SDK, besides creating kernel image and device tree, my OS is Ubuntu. Everything works fine till now. I finished the test on CPU ARM with 2 iteration, even it too long (> 100000ms) and the accuracy is

[2018-11-20 08:41] PSlearner commented on #43
你好，请问你的zynqnet的项目跑通了吗，我的结果也是NaN，完全不知道咋调

[2018-11-20 14:02] wangj346 commented on #43
Trying to reset the clock frequency can help , but I still cannot handle it well. Maybe it is the bug of the code.

[2018-11-20 14:10] PSlearner commented on #43
I use the devmem command to write the register to reset the clock frequency, but I find the register can not be write successfully.

[2018-11-20 14:13] wangj346 commented on #43
I meet the same problem and I advise you to ask the author.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Chen Weiguang <notifications@github.com>
发送时间: Tuesday, November 20, 2018 10:10:57 PM
收件人: dgschwend/zynqnet
抄送: wangj346; Comment
主题: Re: [dgschwend/zynqnet] Questions about the results of output on FPGA (#43)

I use the devmem co

[2018-11-20 14:14] PSlearner commented on #43
OK. Thank you very much

[2018-11-20 14:20] wangj346 commented on #43
I heard that some guys adjust the clock frequency successfully by using the petalinux, which have the command like set clock. You can try it. Good luck.

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: Chen Weiguang <notifications@github.com>
发送时间: Tuesday, November 20, 2018 10:14:48 PM
收件人: dgschwend/zynqnet
抄送: wangj346; Comment
主题: Re:

[2018-11-20 14:22] PSlearner commented on #43
I used the petalinux to package the linux kernel. I wil have a try!

[2018-11-27 03:20] #56 closed, assigned to nobody

[2018-12-19 04:02] Sunyouteng commented on #24
want to run it on zcu102 too. sunyouteng@163.com

[2018-12-24 05:37] Sunyouteng commented on #28
@dgschwend why double it? Will it consume too much resource? Can we get the exact size of shared_DRAM variable?

[2018-12-24 05:40] Sunyouteng commented on #41
@why did we have to double it? can we get the exact space for SHARED_DRAM ?

[2018-12-24 05:40] Sunyouteng commented on #41
@PSlearner why did we have to double it? can we get the exact space for SHARED_DRAM ?

[2019-02-08 05:38] massbhagi opened #57 "synthesis failed"
sir/madam,
                 I used Vivado HLS 2016.4
i want to synthesis the Zynqnet. To load all the files in **_HLSCODE** from Zynqnet  file. But i got  **Critical warning**
1. In network.cpp file **Operator new(unsigned long long) has no function body**

Please Help me.

[2019-02-22 12:16] massbhagi commented on #46
I am Bhagavan , from chennai, Tamil Nadu, India

what  are all the platforms you used for Synthesis the Zyngnet code.

1) Windows or Linux
2) vivado HLS version

Because I faced lot of errors. I used Windows 10
vivado HLS 2018.3

Please help me .

[2019-03-25 01:51] PXT846765038 commented on #18
Hi David,
I have learned that your project can be run under the linux on board but my ZC706 doesn't have a linux on the SD card. I have found some tutorials about how to install a linux on ZC706 and how to start system from SD card but none of them worked. Can you give me some help? Thanks a lot.

[2019-04-29 03:23] PXT846765038 commented on #43
请问后来跑通了么...？用CPU能跑出正确结果，用FPGA就全是Nan,,,

[2019-04-29 04:10] PSlearner commented on #43
我后来跑出来也全是Nan,估计不是时钟和HP 位宽的问题，

[2019-04-29 04:12] wangj346 commented on #43
当时我记得调了vivado工程的信号，还有时钟频率才把nan消除。但是过得比较久，记不太清了，需要你自己摸索下。

发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

________________________________
发件人: PXT846765038 <notifications@github.com>
发送时间: Monday, April 29, 2019 11:23:49 AM
收件人: dgschwend/zynqnet
抄送: wangj346; Comment
主题: Re: [dgschwend/zynqnet] Questions about the results of output on FPGA (#43)

I used the petalinux to pac

[2019-08-07 14:07] yaw2009 opened #58 "what does the (88.38%: class 207 (output 18.94) mean ?"
hi :

   I've been studying zynq recently.When I finished the simulation under HLS
the last print :
    88.38%: class 207 (output  18.94)
     4.42%: class 852 (output  15.95)
     4.25%: class 208 (output  15.91)
     1.65%: class 219 (output  14.97)
     0.20%: class 929 (output  12.85)
what does the class 207 mean?

[2019-08-07 14:09] yaw2009 commented on #58
My understanding is that：
   class 207  is Classification results，for example : dog or cat , Where can I check?

[2019-08-11 14:34] yaw2009 commented on #58
ok i get it ,   it form imagenet  and class 207 is dog

[2019-12-20 02:35] adki opened #59 "What does convert_jepg_to_indata_bin.py do?"
I wonder if there is C version of 'convert_jpeg_to_indata_bin.py'.

Can anyone give a tip what 'convert_jepg_to_indata' does?
This python script requires full Caffe and it makes hard to use for inference in which only C is used.
Thanks in advance.

[2020-01-03 02:59] CrazybinaryLi opened #60 "How to download zynqnet_report.pdf?"
Hi David.
Thanks for your sharing, I am a beginner.I want to download your master thesis to learn,but when I download it, I get this warning "Sorry, this file is invalid so it cannot be displayed.".Can you send this project to my email yufeng@nfs.iscas.ac.cn.
Best wishes
Yufeng Li

[2020-01-03 03:36] #60 closed, assigned to nobody

[2020-01-31 12:22] vishnuchebrolu commented on #54
Hi @ysdagar ,

WARNING: [HLS 214-114] Only function calls and local variable declarations are allowed in a dataflow region: _HLS_CODE/processing_element.cpp:54:2

Is the above issue fixed?

[2020-02-20 14:48] cverzq opened #61 "why can't the master thesis download? the web display "sorry, this file is invalid so it cannot be displayed""
![ZynqNet](https://user-images.githubusercontent.com/49152476/74945566-eed11800-5432-11ea-827d-ab0fa77890ed.png)

[2020-02-20 14:50] cverzq commented on #61
![DownloadError](https://user-images.githubusercontent.com/49152476/74945862-643ce880-5433-11ea-827d-63ff20b495fa.png)

[2020-04-07 05:23] dldldlfma opened #62 "Segment fault error == SIGSIVG error"
Hello! I have a question!

When i start the C simulation, error is occur at line number 94  in fpga_top.cpp

Error message is below.

CPU: Offload CONV Layer c10/p1:   8x8   x 736 > 512, CONV (1x1)/1        , IN @mem(13295616-13484032B), OUT @mem(13484032B), WEIGHTS @mem( 7096448- 8605824B) (split1) GLOBAL POOL
FPGA: Computing .*stopped,reason="end-stepping-range",frame={addr="0x0000000000406d90",

[2020-04-07 06:45] dgschwend commented on #62
Have you tried increasing the SHARED_DRAM size as suggested in https://github.com/dgschwend/zynqnet/issues/52?

[2020-04-07 07:08] dldldlfma commented on #62
Thank you for your response.

i fixed SHARED_DRAM size in **cpu_top.cpp file at line number 207.**

SHARED_DRAM = (char *)malloc(total_size);
=>
SHARED_DRAM = (char *)malloc(total_size ** *2 ** );

and it's working!

Thank you so much!

[2020-04-08 14:55] KrisYoung12 opened #63 "How to run the zynqnet on FPGA?"
Hello, I have successfully generated the cnn ip in HLs and imitated your design to complete the block design. But how do I run the zynqnet on xilinx sdk for windows?

[2020-04-08 15:20] KrisYoung12 commented on #63
@dgschwend I copy all files to SDK, but some files which has this "#include <sys/mman.h>" will report error ( the SDK project is in Windows). How can I resolve it?

[2020-04-09 02:07] dldldlfma opened #64 "Export RTL Error"
Hello dgschwend!

Thank you for your code and response!

Today i have another question with error which is below.

//==============================================================
ERROR: [DRC UTLZ-1] Resource utilization: LUT as Distributed RAM over-utilized in Top Level Design (This design requires more LUT as Distributed RAM cells than are available in the target device. This design requires 107

[2020-05-05 01:18] biruixing opened #65 "Last pooing layer instead of convolution，result is wrong，how to fix it？"
Last pooing layer instead of convolution，result is wrong，how to fix it？
The result looks like avg pool result, all the h*w is same digit, how to fix it ?

[2020-05-05 12:03] mazhongzhong opened #66 "wrong results of the last layer of customized model"
Hi,
We try to run an object detection model with your project.
To achieve that, we designed a customized model. There are two differences between our model and your original network model. 1) the input size is changed to 224 from 256. 2)we added a convolutional layer to your original network model, the details of this layer is showed in the image below.
<img width="354" alt="微信图片_20200505192617" s

[2020-05-07 04:17] KrisYoung12 commented on #42
@lishen565 Hi, I've meet the same problem. Can you tell me how to solve the problem by configuring the linker with "-static"? I don't know how to configure the linker with "-static".

[2020-05-10 07:01] KrisYoung12 commented on #15
@dgschwend Hi, David，I meet the "Error : File wegihts.bin could not been opened!" when I run the zynqnet on the petalinux, can you tell me how to resolve it?

[2020-07-31 07:50] shawn-wwx commented on #62
hello, guys!
I met the same problem and I tried to change SHARED_DRAM to twice as it was, but it doesn't work as I expected and there is still sigsegv error.
is there any other possible reason or solution?
Thanks a lot!

[2020-07-31 07:54] shawn-wwx commented on #54
Hi @ysdagar
I met the same problem as yours. has it been solved yet? would you like to share with me how to solve this?
Thanks a lot!

[2020-12-21 01:59] ALEX5874 opened #67 "How to add BN layer"
Is anybody know how to add BN layer to the zynqnet?

[2020-12-21 02:01] ALEX5874 opened #68 "The output channel"
ImageNet has only 1000 classes, how to chage it to 1024 as the result of zynqnet?

[2021-01-07 07:05] youzjuer commented on #63
i have some problem in generating the cnn ip in hls，could you please give me some advice？ This is my email：21960204@zju.edu.cn

[2021-01-07 12:00] youzjuer commented on #62
you can try to delete “blobs/” in fpga_top.cpp

[2021-01-07 12:19] youzjuer commented on #42
i meet some problems when i build my project, could you plz give me some advice?

[2021-01-08 12:46] youzjuer commented on #46
hi，i have the same question with you. have you solved them?

[2021-01-08 13:20] wangj346 commented on #46
I am sorry to reply you late.
I roughly remember that I use vivado HLS to create an IP core and than employ it to block design tools in vivado.
发送自 Windows 10 版邮件<https://go.microsoft.com/fwlink/?LinkId=550986>应用

发件人: ihaterecursion<mailto:notifications@github.com>
发送时间: 2021年1月8日 20:47
收件人: dgschwend/zynqnet<mailto:zynqnet@noreply.github.com>
抄送: wangj346<mailto:w280400191@hotmail.com>; Author<m

[2021-03-30 14:14] ALEX5874 commented on #42
hello, I've met the same problem too. Can you tell me how to solve the problem by configuring the linker with "-static"? I don't know how to configure the linker with "-static".

[2021-03-30 14:15] ALEX5874 commented on #42
hi,do you know how to solve the question now?

[2021-03-30 14:18] ALEX5874 commented on #43
hi, I am making some work to improve the zynqnet, and I have met some questions as you have ever met, can you give me some advice?

[2021-03-30 14:21] ALEX5874 commented on #42
HI, I also use the petalinux to make linux available on the board, I want to know do you use some other things or just what the petalinux produces?

[2021-04-04 08:56] ALEX5874 commented on #66
hello，do you have solved this problem? I'm also adding other layers in zynqnet, the result of the first layer is incorrect.Can you help me? Maybe we can communicate with e-mial?

[2021-04-05 08:31] ALEX5874 opened #69 "about the result based on petalinux and sdk"
![image](https://user-images.githubusercontent.com/57305568/113554588-1f224880-962c-11eb-923a-8e7f3a1dce3d.png)
hi，I have add some layers into zynqnet. It performs well in HLS, but when I run it on my zynq, it fails, can you help me?

[2021-05-08 00:01] jamdodot commented on #39
How do I initialize the HLS project, how do I add the file? Is there a description of the software and related process used in the whole project

[2021-05-08 00:53] jamdodot opened #70 "how to use"
I'm sorry that I haven't found the instructions for project creation, so I don't know how to add files to the HLS project, how to operate after generating IP core, and how to use the whole project. Do you have any instructions in this respect? Thank you very much

My email address is jamdodot@gmail.com

[2021-05-08 10:02] jamdodot commented on #70
due to the  long time of C/RTL cosimlation  i stopped it and export the RTL （ip） and  keep  learning following STEPS

[2021-05-15 12:53] #70 closed, assigned to nobody

[2021-05-17 00:59] jamdodot commented on #58
hi do you know how to convert a jpeg to  indata file  to test？

[2021-09-15 14:09] Candice-Yin opened #71 "about ".xdc" file"
Dear David,
Do you have a ".xdc" file and would you please tell me where it is? I have completed block design on ZCU102, but I have some difficulty in writing ".xdc" file.
Thank you!

[2021-09-23 12:22] Candice-Yin commented on #42
hi, would you mind sending me a project of SDK? I'm running this project in SDK using ZCU102 and have some trouble. My mail is 314306956@qq.com. Thank you very much!

[2022-01-01 16:09] LIUQyou commented on #30
Hi, did you solve the problem, I encounter the same problem

[2022-01-01 18:30] eejlny commented on #30
Sorry, I have the same problem and I can see you got the same problem 2 hours ago. Something to do with the new year ? I never had this problem with the same project yesterday 31st Dec but today 1st Jan is not working with this error.

[2022-01-01 18:44] LIUQyou commented on #30
Me too, it is very weird. I try to export the RTL into IP with the same code, but I encountered this problem. Tomorrow I will try it on a new version of HLS. But for now, I have no idea about the solution. sorry

[2022-01-01 18:49] beatsnbytes commented on #30
Same problem here!

[2022-01-01 22:16] jtani78 commented on #30
I have the same problem.
Workaround: After setting the system time of windows to year 2021, it is working.
But I really hope, that there is a better solution for this problem.

Any ideas?

[2022-01-02 16:04] bwajster commented on #30
Got the same error. Anyone able sort this out yet ?(apart from changing the system time)

[2022-01-02 16:11] jtani78 commented on #30
What I found in the solution1/impl/ip/vivado.log:
`source run_ippack.tcl -notrace
bad lexical cast: source type value could not be interpreted as target
    while executing
"rdi::set_property core_revision 2201021649 {component component_1}"
    invoked from within
"set_property core_revision $Revision $core"
    (file "run_ippack.tcl" line 963)
INFO: [Common 17-206] Exiting Vivado at Sun Jan 02 1

[2022-01-02 16:28] jtani78 commented on #30
I think, I found the reason of the problem:

All datetimes from 2021 are working. 2022 is not working.

Here is some math:
02.01.202**1** 16:49 results in core_revision **2101021649** --> equals to hex number **7**D3B0BD1
--> binary **0**1111101001110110000101111010001

02.01.202**2** 16:49 results in core_revision **2201021649** --> equals to hex number **8**330ECD1
--> binary **1**00000110011000

[2022-01-02 18:50] eejlny commented on #30
Congrats, great detective work finding the reason .... Not sure about the file though,

[2022-01-02 19:01] jtani78 commented on #30
Thank you :-)
But now is the big question, how to change the behavior . Do you want to look at the xilinx installation folder? Perhaps you will find something in the TCL code.
Would be really cool.

I already searched for a workaround. Without any success until now. There are so much files in the HLS installation folder... :-(

Further idea: Perhaps we should try to export the IP manually (via a s

[2022-01-03 10:38] brostvincent commented on #30
Hello, same problem. The solution for me today :  back to the futur...
xilinx wish you a happy new year :)

[2022-01-04 04:46] tux2603 commented on #30
I just reproduced the issue in extremely simple MWE in Vivado 2019.1. That seems to confirm that it's upstream. Has anyone reported this to xilinx yet?

[2022-01-04 07:37] brostvincent commented on #30
The first solution to work around the problem. Roll back the date: not  easy. the second, set configuration of IP with number version x.y.z

[2022-01-04 09:19] beatsnbytes commented on #30
And how do you perform the second solution @brostvincent without GUI?

[2022-01-04 09:50] brostvincent commented on #30
In HLS GUI
Export -> configuration -> Version -> 0.0.0

[2022-01-04 11:27] jtani78 commented on #30
Thank you brostvincent!
It is working.

Happy new year xilinx :angry:

[2022-01-04 11:39] eejlny commented on #30
No gui for me either. Just Makefiles runing sds++ :(

[2022-01-04 11:45] beatsnbytes commented on #30
https://support.xilinx.com/s/question/0D52E00006uxYjmSAE/bug-report-vivado-20212-revision-number-overflow-after-new-year?language=en_US

There is a solution which could possibly work for cmd line users  @eejlny . Havent tried it yet!

[2022-01-05 12:41] bwajster commented on #30
Does changing the version (under export ->configurations) from 1.0 to 0.0 solve the problem ?

[2022-01-05 12:44] bwajster commented on #30
Kindly pls explain what you mean by number version x.y.z (I'm using version 2019.1) @brostvincent

[2022-01-05 15:27] ysdagar commented on #30
Hi,
I have been observing a lot of discussion here.  it's been looked upon by Xilinx. Once i get an update I'll post here.

Cheers,
Yashwant

[2022-01-06 02:45] tangshiren1993 commented on #30
Export -> configuration -> Version -> 1.0.1

[2022-01-06 03:13] bwajster commented on #30
Why do we set the version to 1.0.1 ? @tangshiren1993

[2022-01-06 13:31] jtani78 commented on #30
If you do not write something to the field "version", the version will be calculated by VIVADO. This will result in the error described above.
If you write something into the field "version", VIVADO will not try to calculate the version and we will get no error. GREAT!

It is your decision, what version you want... For the first export, you can use e.g. 1.0.0 for the second 1.0.1 for the third 1.0

[2022-01-06 16:01] bwajster commented on #30
Thank You so much! @jtani78

[2022-01-11 15:21] mgh-prog commented on #30
thank you man! @brostvincent

[2022-01-14 12:52] ghost commented on #30
Look at this post, here is the temporary solution to the issue.
https://support.xilinx.com/s/question/0D52E00006vDlvJSAS/export-ip-invalid-argument-revision-number-overflow-issue?language=en_US

[2022-02-07 16:54] Yanjie-Wu commented on #30
so good! thank you !@brostvincent @jtani78

[2022-02-12 03:56] Taichi-Pink commented on #54
I solved this problem by commenting out the "pragma hls inline" in "mempry control.cpp" in line 107. If this doesn't work, you can try to comment out other pragmas until the error is gone.

[2022-03-15 15:42] arpanpoudel commented on #30
@jtani78 @brostvincent thank you so much, saved me

[2022-03-28 11:17] ysdagar commented on #30
Please use this patch prior to starting any xilinx tool https://support.xilinx.com/s/article/76960?language=en_US

[2022-05-11 12:32] rvhprasad commented on #30
@brostvincent Thank you so much...Its working